<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.yusong.yhdg.appserver.persistence.basic.AgentForegiftRefundMapper">

    <select id="find" resultType="cn.com.yusong.yhdg.common.domain.basic.DeductionTicketOrder">
        select *
        from bas_agent_foregift_refund
        where id=#{id}
    </select>

    <select id="findAll" resultType="cn.com.yusong.yhdg.common.domain.basic.DeductionTicketOrder">
        select *
        from bas_agent_foregift_refund
    </select>

    <select id="findPageCount" parameterType="cn.com.yusong.yhdg.common.domain.basic.DeductionTicketOrder" resultType="int">
        select count(id)
        from bas_agent_foregift_refund
        <trim prefix="where" prefixOverrides="and">
            <if test="id != null">and id = #{id} </if>
            <if test="agentId != null">and agent_id = #{agentId} </if>
            <if test="agentName != null">and agent_name = #{agentName} </if>
            <if test="agentCode != null">and agent_code = #{agentCode} </if>
            <if test="customerId != null">and customer_id = #{customerId} </if>
            <if test="mobile != null">and mobile = #{mobile} </if>
            <if test="fullname != null">and fullname = #{fullname} </if>
            <if test="foregiftOrderId != null">and foregift_order_id = #{foregiftOrderId} </if>
            <if test="refundRecordId != null">and refund_record_id = #{refundRecordId} </if>
            <if test="price != null">and price = #{price} </if>
            <if test="ticketMoney != null">and ticket_money = #{ticketMoney} </if>
            <if test="deductionTicketMoney != null">and deduction_ticket_money = #{deductionTicketMoney} </if>
            <if test="payMoney != null">and pay_money = #{payMoney} </if>
            <if test="refundMoney != null">and refund_money = #{refundMoney} </if>
            <if test="remainMoney != null">and remain_money = #{remainMoney} </if>
            <if test="operatorName != null">and operator_name = #{operatorName} </if>
            <if test="createTime != null">and create_time = #{createTime} </if>
        </trim>
    </select>

    <select id="findPageResult" parameterType="cn.com.yusong.yhdg.common.domain.basic.DeductionTicketOrder" resultType="cn.com.yusong.yhdg.common.domain.basic.DeductionTicketOrder">
        select *
        from bas_agent_foregift_refund
        <trim prefix="where" prefixOverrides="and">
            <if test="id != null">and id = #{id} </if>
            <if test="agentId != null">and agent_id = #{agentId} </if>
            <if test="agentName != null">and agent_name = #{agentName} </if>
            <if test="agentCode != null">and agent_code = #{agentCode} </if>
            <if test="customerId != null">and customer_id = #{customerId} </if>
            <if test="mobile != null">and mobile = #{mobile} </if>
            <if test="fullname != null">and fullname = #{fullname} </if>
            <if test="foregiftOrderId != null">and foregift_order_id = #{foregiftOrderId} </if>
            <if test="refundRecordId != null">and refund_record_id = #{refundRecordId} </if>
            <if test="price != null">and price = #{price} </if>
            <if test="ticketMoney != null">and ticket_money = #{ticketMoney} </if>
            <if test="deductionTicketMoney != null">and deduction_ticket_money = #{deductionTicketMoney} </if>
            <if test="payMoney != null">and pay_money = #{payMoney} </if>
            <if test="refundMoney != null">and refund_money = #{refundMoney} </if>
            <if test="remainMoney != null">and remain_money = #{remainMoney} </if>
            <if test="operatorName != null">and operator_name = #{operatorName} </if>
            <if test="createTime != null">and create_time = #{createTime} </if>
        </trim>
        order by id desc
        limit #{beginIndex}, #{rows}
    </select>

    <insert id="insert" parameterType="cn.com.yusong.yhdg.common.domain.basic.DeductionTicketOrder" keyProperty="id" useGeneratedKeys="true">
        insert into bas_agent_foregift_refund (
        id,agent_id,agent_name,agent_code,customer_id,mobile,fullname,
        foregift_order_id,refund_record_id,price,ticket_money,deduction_ticket_money,pay_money,refund_money,remain_money,
        operator_name,create_time)
        values (
        #{id},#{agentId},#{agentName},#{agentCode},#{customerId},#{mobile},#{fullname},
        #{foregiftOrderId},#{refundRecordId},#{price},#{ticketMoney},#{deductionTicketMoney},#{payMoney},#{refundMoney},#{remainMoney},
        #{operatorName},#{createTime})
    </insert>

    <update id="update" parameterType="cn.com.yusong.yhdg.common.domain.basic.DeductionTicketOrder">
        update bas_agent_foregift_refund set
        id=#{id},agent_id=#{agentId},agent_name=#{agentName},
agent_code=#{agentCode},customer_id=#{customerId},mobile=#{mobile},
fullname=#{fullname},foregift_order_id=#{foregiftOrderId},refund_record_id=#{refundRecordId},
price=#{price},ticket_money=#{ticketMoney},deduction_ticket_money=#{deductionTicketMoney},
pay_money=#{payMoney},refund_money=#{refundMoney},remain_money=#{remainMoney},operator_name=#{operatorName},
create_time=#{createTime}        where id=#{id}
    </update>

    <delete id="delete">
        delete from bas_agent_foregift_refund
        where id=#{id}
    </delete>
</mapper>