<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.appserver.persistence.basic.AlipayfwPayOrderMapper">

    <select id="find" resultType="cn.com.yusong.yhdg.common.domain.basic.AlipayfwPayOrder">
        select
        *
        from bas_alipayfw_pay_order
        where id = #{id}
    </select>

    <insert id="insert" parameterType="cn.com.yusong.yhdg.common.domain.basic.AlipayfwPayOrder">
        insert into bas_alipayfw_pay_order(id, partner_id, customer_id, mobile, customer_name,  agent_id, money, source_type, source_id,
            order_status, handle_time, memo, create_time)
        values(#{id}, #{partnerId}, #{customerId}, #{mobile}, #{customerName}, #{agentId}, #{money}, #{sourceType}, #{sourceId},
            #{orderStatus}, #{handleTime}, #{memo}, #{createTime})
    </insert>

</mapper>