<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.appserver.persistence.basic.CustomerInstallmentRecordMapper">

    <select id="find" resultType="cn.com.yusong.yhdg.common.domain.basic.CustomerInstallmentRecord">
        select * from bas_customer_installment_record where id = #{id}
    </select>

    <select id="findList" resultType="cn.com.yusong.yhdg.common.domain.basic.CustomerInstallmentRecord">
        select
        *
        from bas_customer_installment_record
        where customer_id = #{customerId}
        and status = #{status} and category = #{category}
        order by id desc
    </select>

    <insert id="insert" parameterType="cn.com.yusong.yhdg.common.domain.basic.CustomerInstallmentRecord" useGeneratedKeys="true" keyProperty="id">
        insert into bas_customer_installment_record (
         partner_id,
         customer_id,
         fullname,
         mobile,
         agent_id,
         agent_name,
         agent_code,
         category,
         status,
         fee_money,
         total_money,
         paid_money,
         foregift_money,
         packet_money,
         exchange_setting_id,
         rent_setting_id,
         create_time)
         values (
        #{partnerId},
        #{customerId},
        #{fullname},
        #{mobile},
        #{agentId},
        #{agentName},
        #{agentCode},
        #{category},
        #{status},
        #{feeMoney},
        #{totalMoney},
        #{paidMoney},
        #{foregiftMoney},
        #{packetMoney},
        #{exchangeSettingId},
        #{rentSettingId},
        #{createTime}
        )
    </insert>

    <update id="updateOrderStatus">
        update bas_customer_installment_record
        set status = #{toStatus}
        where id = #{id}
        and status = #{fromStatus}
    </update>

    <update id="updatePaidMoney">
        update bas_customer_installment_record
        set paid_money = (select ifnull(sum(money), 0) from bas_customer_installment_record_pay_detail where record_id = #{id} and status = #{status})
        where id = #{id}
    </update>

</mapper>