<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusong.yhdg.appserver.persistence.basic.CustomerExchangeInfoMapper">
    <select id="find" parameterType="long" resultType="cn.com.yusong.yhdg.common.domain.basic.CustomerExchangeInfo">
        select
        *
        from bas_customer_exchange_info
        where id = #{id}
    </select>

    <insert id="insert">
        insert into bas_customer_exchange_info(id, agent_id, battery_type, foregift, foregift_order_id, balance_cabinet_id, balance_shop_id, balance_station_id, vehicle_foregift_flag, create_time)
        values(#{id}, #{agentId}, #{batteryType}, #{foregift}, #{foregiftOrderId}, #{balanceCabinetId}, #{balanceShopId}, #{balanceStationId}, #{vehicleForegiftFlag}, #{createTime})
    </insert>

    <update id="updateForegift">
        update bas_customer_exchange_info
        set foregift = #{foregift}
        where foregift_order_id = #{foregiftOrderId}
    </update>

    <delete id="delete">
        delete from bas_customer_exchange_info where id = #{id}
    </delete>

    <update id="updateErrorMessage">
        update bas_customer_exchange_info set
        error_message = #{errorMessage}, error_time = #{errorTime}
        where id = #{id}
    </update>

</mapper>