<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.appserver.persistence.basic.PlatformMapper">

    <select id="find" resultType="cn.com.yusong.yhdg.common.domain.basic.Platform">
        SELECT * FROM bas_platform WHERE id = #{id}
    </select>

    <update id="updateBalance">
        <choose>
            <when test="balance > 0">
                update bas_platform set balance = balance + #{balance} where id = #{id}
            </when>
            <otherwise>
                <![CDATA[update bas_platform set balance = balance + #{balance} where id = #{id} and balance + #{balance} >= 0]]>
            </otherwise>
        </choose>
    </update>
</mapper>