<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusong.yhdg.appserver.persistence.basic.RotateImageMapper">

    <select id="findTypeAndSourceIdAll" resultType="cn.com.yusong.yhdg.common.domain.basic.RotateImage">
        SELECT
        *
        FROM bas_rotate_image
        WHERE
        type=#{type}
        and source_id = #{sourceId}
        AND category =#{category}
    </select>

</mapper>