<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.appserver.persistence.basic.UserMapper">

    <select id="find" parameterType="long" resultType="cn.com.yusong.yhdg.common.domain.basic.User">
        select
        *
        from bas_user
        where id = #{id}
    </select>

    <update id="updateLoginTime">
        update bas_user set
        last_login_time = #{lastLoginTime}
        where id = #{id}
    </update>

    <select id="findByMobile" resultType="cn.com.yusong.yhdg.common.domain.basic.User">
        select
        *
        from bas_user
        where mobile = #{mobile}
    </select>

    <select id="findByLoginName" resultType="cn.com.yusong.yhdg.common.domain.basic.User">
        select
        *
        from bas_user
        where login_name = #{loginName}
    </select>

    <update id="updatePassword">
        update bas_user set password = #{newPassword} where id = #{id} and password = #{oldPassword}
    </update>

    <update id="updatePassword2">
        update bas_user set password = #{newPassword} where id = #{id}
    </update>

    <update id="updateMobile">
        update bas_user set mobile = #{mobile} where id = #{id}
    </update>

    <update id="updateInfo">
        update bas_user set
        <trim suffix="" suffixOverrides=",">
            <if test="photoPath != null">photo_path = #{photoPath},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updatePushToken">
        update bas_user set push_type = #{pushType},push_token = #{pushToken} where id = #{id}
    </update>
</mapper>