<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusong.yhdg.appserver.persistence.basic.ZhizuCustomerNoticeMapper">

    <select id="find" resultType="cn.com.yusong.yhdg.common.domain.basic.ZhizuCustomerNotice">
        SELECT * FROM bas_zhizu_customer_notice
        WHERE cabinet_id = #{cabinetId}
    </select>

    <insert id="insert" parameterType="cn.com.yusong.yhdg.common.domain.basic.ZhizuCustomerNotice">
        INSERT INTO bas_zhizu_customer_notice(cabinet_id)
        VALUES (#{cabinetId})
    </insert>

    <insert id="insertAll" >
        INSERT INTO bas_zhizu_customer_notice(cabinet_id)
        select id from hdg_cabinet where agent_id = #{agentId}
        and not exists (select 1 from  bas_zhizu_customer_notice where bas_zhizu_customer_notice.cabinet_id = hdg_cabinet.id);
    </insert>

    <delete id="delete">
        delete from bas_zhizu_customer_notice
        where cabinet_id = #{cabinetId}
    </delete>
</mapper>