<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusong.yhdg.agentappserver.persistence.hdg.CabinetCodeMapper">

    <select id="findByCode" parameterType="string" resultType="cn.com.yusong.yhdg.common.domain.hdg.CabinetCode">
        SELECT *
        FROM hdg_cabinet_code
        WHERE code = #{code}
    </select>

</mapper>