<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.agentappserver.persistence.hdg.CabinetMapper">

    <select id="find" resultType="cn.com.yusong.yhdg.common.domain.hdg.Cabinet">
        select * from hdg_cabinet
        where id = #{id};
    </select>

    <select id="findList" resultType="cn.com.yusong.yhdg.common.domain.hdg.Cabinet">
        select *
        FROM hdg_cabinet
        where active_status = 1
        <if test="keyword != null and keyword !='' ">
            <![CDATA[and (cabinet_name LIKE concat('%', #{keyword}, '%')
                  or address LIKE concat('%', #{keyword}, '%'))]]>
        </if>
        <if test="agentId != null">
            and agent_id = #{agentId}
        </if>
        <if test="shopId != null and shopId != ''">
            and shop_id = #{shopId}
        </if>
        ORDER BY id
        <if test="offset != null and limit != ''">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="findCountByAgentId"  resultType="int">
        select
        count(id)
        from hdg_cabinet
        <trim prefix="where" prefixOverrides="and">
            <if test="agentId != null">
                and agent_id = #{agentId}
            </if>
            <if test="upLineStatus != null">
                and up_line_status in
                <foreach collection="upLineStatus" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="isOnLine != null">
                and is_online in
                <foreach collection="isOnLine" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </trim>
    </select>

    <select id="findNearest" resultType="cn.com.yusong.yhdg.common.domain.hdg.Cabinet">
        select
        cabinet.*,
        (
            SELECT
            COUNT(*)
            FROM
            hdg_cabinet_box as box
            inner join hdg_battery as battery on box.battery_id = battery.id
            inner join hdg_cabinet hc on hc.id = box.cabinet_id
            WHERE
            box.cabinet_id = cabinet.id
            and battery.status = #{batteryStatus}
            AND box.box_status = #{fullStatus}
            AND box.is_active = 1
            AND battery.volume >= hc.charge_full_volume
        ) AS fullCount,
        (
            SELECT
            COUNT(*)
            FROM
            hdg_cabinet_box AS box
            INNER JOIN hdg_battery AS battery ON box.battery_id = battery.id
            WHERE
            box.cabinet_id = cabinet.id
            And battery.charge_status = 3
            AND battery.status = 3
            AND box.box_status = 2
            AND box.is_active = 1
        ) AS chargeCount
        from
        (
        SELECT
        *,
        floor(6378.138*2*ASIN(SQRT(POW(SIN((${lat}*PI()/180-lat*PI()/180)/2),2)+COS(${lat}*PI()/180)*COS(lat*PI()/180)*POW(SIN((${lng}*PI()/180-lng*PI()/180)/2),2)))*1000) AS distance
        FROM hdg_cabinet
        where 1 = 1
        <if test="keyword != null and keyword != ''">
            <![CDATA[and keyword LIKE concat('%', #{keyword}, '%')]]>
        </if>
        <if test="provinceId != null">
            and province_id = #{provinceId}
        </if>
        <if test="geoHash != null">
            <![CDATA[and geo_hash LIKE concat(#{geoHash}, '%')]]>
        </if>
        <if test="cityId != null">
            and city_id = #{cityId}
        </if>
        <if test="agentId != null">
            and agent_id = #{agentId}
        </if>
        <if test="upLineStatus != null">
            and up_line_status in
            <foreach collection="upLineStatus" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="isOnLine != null">
            and is_online in
            <foreach collection="isOnLine" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        ORDER BY
        distance
        <if test="offset!=null and limit!=null">
            limit #{offset}, #{limit}
        </if>
        ) as cabinet
    </select>

    <select id="findVipCabinetList" resultType="cn.com.yusong.yhdg.common.domain.hdg.Cabinet">
        select *
        FROM hdg_cabinet
        where active_status = 1
        <if test="keyword != null and keyword != ''">
            <![CDATA[and (id LIKE concat('%', #{keyword}, '%') or cabinet_name LIKE concat('%', #{keyword}, '%'))]]>
        </if>
        <if test="agentId != null">
            and agent_id = #{agentId}
        </if>
        and id not in (select cabinet_id from hdg_vip_price_cabinet)
        limit #{offset}, #{limit}
    </select>

    <select id="findBatteryCabinetList" resultType="cn.com.yusong.yhdg.common.domain.hdg.Cabinet">
        select *
        FROM hdg_cabinet
        where active_status = 1
        <if test="keyword != null and keyword != ''">
            <![CDATA[and (id LIKE concat('%', #{keyword}, '%') or cabinet_name LIKE concat('%', #{keyword}, '%'))]]>
        </if>
        <if test="agentId != null">
            and agent_id = #{agentId}
        </if>
        and id not in (select cabinet_id from hdg_cabinet_battery_type)
        limit #{offset}, #{limit}
    </select>

    <select id="findUnique" parameterType="string" resultType="cn.com.yusong.yhdg.common.domain.hdg.Cabinet">
        select id from hdg_cabinet where id = #{id}
    </select>

    <update id="update" parameterType="cn.com.yusong.yhdg.common.domain.hdg.Cabinet">
        update hdg_cabinet set
        <trim suffix="" suffixOverrides=",">
            <if test="id != null and id != ''">
                id = #{id},
            </if>
            <if test="agentId != null">
                agent_id = #{agentId},
            </if>
            <if test="cabinetName != null and cabinetName != ''">
                cabinet_name = #{cabinetName},
            </if>
            <if test="provinceId != null">
                province_id = #{provinceId},
            </if>
            <if test="cityId != null">
                city_id = #{cityId},
            </if>
            <if test="districtId != null">
                district_id = #{districtId},
            </if>
            <if test="street != null and cabinetName != ''">
                street = #{street},
            </if>
            <if test="lng != null">
                lng = #{lng},
            </if>
            <if test="lat != null">
                lat = #{lat},
            </if>
            <if test="geoHash != null and geoHash != ''">
                geo_hash = #{geoHash},
            </if>
            <if test="activeStatus != null">
                active_status = #{activeStatus},
            </if>
            <if test="imagePath1 != null and imagePath1 != ''">
                image_path1 = #{imagePath1},
            </if>
            <if test="imagePath2 != null and imagePath2 != ''">
                image_path2 = #{imagePath2},
            </if>
            <if test="imagePath3 != null and imagePath3 != ''">
                image_path3 = #{imagePath3},
            </if>
            <if test="workTime != null and workTime != ''">
                work_time = #{workTime},
            </if>
            <if test="currentSignal != null">
                current_signal = #{currentSignal},
            </if>
            <if test="linkname != null and linkname != ''">
                linkname = #{linkname},
            </if>
            <if test="tel != null and tel != ''">
                tel = #{tel},
            </if>
            <if test="price != null and price != ''">
                price = #{price},
            </if>
            <if test="dispatcherId != null">
                dispatcher_id = #{dispatcherId},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
            <if test="keyword != null and keyword != ''">
                keyword = #{keyword},
            </if>
            <if test="chargeFullVolume != null and chargeFullVolume != ''">
                charge_full_volume = #{chargeFullVolume},
            </if>
            <if test="permitExchangeVolume != null and permitExchangeVolume != ''">
                permit_exchange_volume = #{permitExchangeVolume},
            </if>
            <if test="terminalId != null and terminalId != ''">
                terminal_id = #{terminalId},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="upLineStatus != null">
                up_line_status = #{upLineStatus},
            </if>
            <if test="dynamicCode != null">
                dynamic_code = #{dynamicCode},
            </if>
            <if test="upLineTime != null">
                up_line_time = #{upLineTime},
            </if>
            <if test="minExchangeVolume != null and minExchangeVolume != ''">
                min_exchange_volume = #{minExchangeVolume},
            </if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateCabinetByAgent" parameterType="cn.com.yusong.yhdg.common.domain.hdg.Cabinet">
        update hdg_cabinet set
        cabinet_name = #{cabinetName},
        terminal_id = #{terminalId},
        charge_full_volume = #{chargeFullVolume},
        permit_exchange_volume = #{permitExchangeVolume},
        box_min_power = #{boxMinPower},
        box_max_power = #{boxMaxPower},
        price = #{price},
        work_time = #{workTime},
	    power = #{power},
	    image_path1 = #{imagePath1},
	    image_path2 = #{imagePath2},
	    min_exchange_volume = #{minExchangeVolume}
        where id = #{id}
    </update>

    <update id="updateDynamicCode">
        update hdg_cabinet
          set dynamic_code = #{dynamicCode}
        where id = #{id}
    </update>

    <update id="updateUpLineStatus">
        update hdg_cabinet set
        up_line_status = #{upLineStatus}
        where id = #{id}
    </update>


    <update id="updateLocation">
        update hdg_cabinet
        set
        id = #{cabinetId}
        <if test="provinceId != null">
            ,province_id = #{provinceId}
        </if>
        <if test="cityId != null">
            ,city_id = #{cityId}
        </if>
        <if test="districtId != null">
            ,district_id = #{districtId}
        </if>
        <if test="geoHash != null">
            ,geo_hash = #{geoHash}
        </if>
        <if test="street != null ">
            ,street = #{street}
        </if>
        <if test="address != null">
            ,address = #{address}
        </if>
        <if test="keyword != null and keyword != '' ">
            ,keyword = #{keyword}
        </if>
        <if test="cabinetName != null and cabinetName != '' ">
            ,cabinet_name = #{cabinetName}
        </if>
        <if test="lng != null ">
            ,lng = #{lng}
        </if>
        <if test="lat != null ">
            ,lat = #{lat}
        </if>
        where id = #{cabinetId}
    </update>

    <update id="updateLastCharger">
        update hdg_cabinet set
        input_degree_num = #{inputDegreeNum},
        input_degree_money  = #{inputDegreeMoney},
        input_degree_time = #{inputDegreeTime}
        where id = #{cabinetId}
    </update>

</mapper>