<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.agentappserver.persistence.hdg.InsuranceOrderMapper">

    <select id="findIncrement"  resultType="cn.com.yusong.yhdg.common.domain.hdg.InsuranceOrder">
        select
        *
        from hdg_insurance_order
        WHERE
        agent_id = #{agentId}
        and pay_time &lt;= #{endTime}
        AND pay_time &gt;= #{beginTime}
        limit #{offset}, #{limit}
    </select>

    <select id="findRefund" resultType="cn.com.yusong.yhdg.common.domain.hdg.InsuranceOrder">
        select
        *
        from hdg_insurance_order
        where
        agent_id = #{agentId}
        and refund_time >= #{beginTime}
        and refund_time &lt;= #{endTime}
        limit #{offset}, #{limit}
    </select>

    <select id="findByCustomerId" resultType="cn.com.yusong.yhdg.common.domain.hdg.InsuranceOrder">
        select
        *
        FROM
        hdg_insurance_order
        where
        customer_id = #{customerId}
        <if test ="batteryType != null ">
            and battery_type = #{batteryType}
        </if>
        and status = #{status}
        limit 1
    </select>

</mapper>