<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.agentappserver.persistence.hdg.PacketPeriodOrderMapper">

    <select id="find" resultType="cn.com.yusong.yhdg.common.domain.hdg.PacketPeriodOrder">
        select
        *
        FROM
        hdg_packet_period_order
        where
        id = #{id}
    </select>

    <select id="findCustomerOrderCount" resultType="int">
        SELECT
        COUNT(*)
        FROM hdg_packet_period_order
        WHERE agent_company_id = #{agentCompanyId} and customer_mobile = #{customerMobile}
        <foreach collection="statusList" item="status" open="and status in (" close=")" separator=",">
            #{status}
        </foreach>
    </select>

    <select id="findShopPacketPeriodOrderList" resultType="cn.com.yusong.yhdg.common.domain.hdg.PacketPeriodOrder">
        select
        *
        FROM
        hdg_packet_period_order
        where 1 = 1
        <if test="shopId != null and shopId != ''">
            and shop_id = #{shopId}
        </if>
        order by id DESC
        limit #{offset},#{limit}
    </select>

    <select id="findRemainingTime" resultType="cn.com.yusong.yhdg.common.domain.hdg.PacketPeriodOrder">
        SELECT
        end_time as endTime,
        TIMESTAMPDIFF(DAY, NOW(), end_time)+1 as remainingDay
        FROM
        hdg_packet_period_order
        WHERE
        customer_id = #{customerId}
        AND status = #{status}
        limit 1
    </select>

    <select id="findByCustomer" resultType="cn.com.yusong.yhdg.common.domain.hdg.PacketPeriodOrder">
        SELECT
        *
        FROM
        hdg_packet_period_order
        WHERE
        customer_id = #{customerId}
        AND status = #{status}
        limit 1
    </select>

    <select id="findOneEnabled" resultType="cn.com.yusong.yhdg.common.domain.hdg.PacketPeriodOrder">
        select
        *
        FROM
        hdg_packet_period_order
        where customer_id = #{customerId}
        and status = #{status}
        and agent_id = #{agentId}
        order by create_time desc
        limit 1
    </select>

    <select id="findLastEndTime" resultType="cn.com.yusong.yhdg.common.domain.hdg.PacketPeriodOrder">
        select
        *
        FROM
        hdg_packet_period_order
        where
        customer_id = #{customerId}
        and status = #{status}
        and end_time is not null
        order by end_time DESC
        limit 1
    </select>

    <select id="findListByNoUsed" resultType="cn.com.yusong.yhdg.common.domain.hdg.PacketPeriodOrder">
        select
        *
        FROM
        hdg_packet_period_order
        where
        customer_id = #{customerId}
        and status = #{status}
    </select>

    <select id="findListByCabinetId" resultType="cn.com.yusong.yhdg.common.domain.hdg.PacketPeriodOrder">
        select
        *
        from hdg_packet_period_order
        where agent_id = #{agentId}
        <if test="cabinetId != null and cabinetId != ''">
            and cabinet_id = #{cabinetId}
        </if>
        <if test="cabinetId == null">
            and cabinet_id is not null
        </if>
        <if test="beginTime != null and endTime != ''">
            and pay_time >= #{beginTime} and pay_time &lt;= #{endTime}
        </if>
        <if test="keyword != null and keyword != ''">
            and customer_fullname like concat('%', #{keyword} ,'%')
        </if>
        ORDER BY id desc
    </select>

    <select id="findExpireList" resultType="cn.com.yusong.yhdg.common.domain.hdg.PacketPeriodOrder">
        SELECT
        a.*,
        c.cabinet_name as cabinetName
        FROM
        hdg_packet_period_order a left join hdg_cabinet c on a.cabinet_id = c.id
        WHERE
        a.status = 3 AND a.end_time &lt;= #{expireTime} and a.agent_id =  #{agentId}
        AND NOT EXISTS (SELECT 1 FROM hdg_packet_period_order b WHERE a.customer_id = b.customer_id AND b.status =2)
        and exists (select 1 from bas_customer_exchange_info d where a.customer_id = d.id)
        order by a.end_time desc
    </select>

    <select id="findListByShop" resultType="cn.com.yusong.yhdg.common.domain.hdg.PacketPeriodOrder">
        SELECT
            *
        FROM hdg_packet_period_order
        WHERE shop_id = #{shopId}
        <if test="keyword != null and keyword != ''">
            <![CDATA[AND customer_mobile LIKE concat('%', #{keyword}, '%')]]>
        </if>
        ORDER BY id DESC
        limit #{offset}, #{limit}
    </select>

    <select id="countShopTodayOrderMoney" resultType="java.lang.Integer">
        select IFNULL(sum(money),0)
        FROM hdg_packet_period_order
        WHERE shop_id = #{shopId}
        and pay_time >= #{startTime} and pay_time &lt;= #{endTime}
    </select>

    <select id="findCountByShopAndStatus" resultType="int">
        SELECT
            COUNT(*)
        FROM hdg_packet_period_order
        WHERE shop_id = #{shopId}
        <foreach collection="statusList" item="status" open="and status in (" close=")" separator=",">
            #{status}
        </foreach>
    </select>

</mapper>