<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.agentappserver.persistence.hdg.VipPacketPeriodPriceMapper">

    <select id="findListByForegiftId"  resultType="cn.com.yusong.yhdg.common.domain.hdg.VipPacketPeriodPrice">
        SELECT
        *
        FROM hdg_vip_packet_period_price
        WHERE foregift_id = #{foregiftId}
        and battery_type = #{batteryType}
        and agent_id = #{agentId}
        and price_id = #{priceId}
    </select>

    <select id="findListByPriceId"  resultType="cn.com.yusong.yhdg.common.domain.hdg.VipPacketPeriodPrice">
        SELECT
        *
        FROM hdg_vip_packet_period_price
        WHERE price_id = #{priceId}
    </select>

    <insert id="insert" parameterType="cn.com.yusong.yhdg.common.domain.hdg.VipPacketPeriodPrice" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO hdg_vip_packet_period_price(
          vip_foregift_id,
          price_id,
          agent_id,
          agent_name,
          agent_code,
          foregift_id,
          battery_type,
          day_count,
          price,
          limit_count,
          day_limit_count,
          memo,
          is_ticket,
          create_time
        ) VALUES (
          #{vipForegiftId},
          #{priceId},
          #{agentId},
          #{agentName},
          #{agentCode},
          #{foregiftId},
          #{batteryType},
          #{dayCount},
          #{price},
          #{limitCount},
          #{dayLimitCount},
          #{memo},
          #{isTicket},
          #{createTime}
        )
    </insert>

    <delete id="deleteByPriceId">
        delete from hdg_vip_packet_period_price
        where price_id = #{priceId}
    </delete>

</mapper>