<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.agentserver.persistence.basic.AgentForegiftInOutMoneyMapper">

    <select id="findPageCount" parameterType="cn.com.yusong.yhdg.common.domain.basic.AgentForegiftDepositOrder" resultType="int">
        select
        count(*)
        from bas_agent_foregift_in_out_money
        <trim prefix="where" prefixOverrides="and">
            <if test="agentId !=null">
                and agent_id = #{agentId}
            </if>
            <if test="category != null ">
                and category = #{category}
            </if>
        </trim>
    </select>

    <select id="findPageResult" parameterType="cn.com.yusong.yhdg.common.domain.basic.AgentForegiftInOutMoney" resultType="cn.com.yusong.yhdg.common.domain.basic.AgentForegiftInOutMoney">
        select
        *
        from bas_agent_foregift_in_out_money
        <trim prefix="where" prefixOverrides="and">
            <if test="agentId !=null">
                and agent_id = #{agentId}
            </if>
            <if test="category != null ">
                and category = #{category}
            </if>
        </trim>
        order by id desc
        limit ${beginIndex}, ${rows}
    </select>

    <insert id="insert" parameterType="cn.com.yusong.yhdg.common.domain.basic.AgentForegiftInOutMoney">
        insert into bas_agent_foregift_in_out_money(agent_id, category, biz_type, money, biz_id, create_time, type, balance, remain_money, ratio, operator)
        values(#{agentId}, #{category}, #{bizType}, #{money}, #{bizId}, #{createTime}, #{type}, #{balance}, #{remainMoney}, #{ratio}, #{operator})
    </insert>

</mapper>