<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.agentserver.persistence.basic.AgentPermMapper">

    <select id="find" resultType="cn.com.yusong.yhdg.common.domain.basic.AgentPerm">
        select
        *
        from bas_agent_perm WHERE client_type = 1 and id = #{id}
    </select>

    <select id="findAppPerm" resultType="cn.com.yusong.yhdg.common.domain.basic.AgentPerm">
        select
        *
        from bas_agent_perm WHERE client_type = 2 and id = #{id}
    </select>

    <select id="findAll" resultType="cn.com.yusong.yhdg.common.domain.basic.AgentPerm">
        select
        *
        from bas_agent_perm WHERE client_type = 1
        order by order_num asc
    </select>

    <select id="findAllAppPerm" resultType="cn.com.yusong.yhdg.common.domain.basic.AgentPerm">
        select
        *
        from bas_agent_perm WHERE client_type = 2
        order by order_num asc
    </select>

    <select id="findAllByClientType" resultType="cn.com.yusong.yhdg.common.domain.basic.AgentPerm">
        select
        *
        from bas_agent_perm
        where client_type = #{clientType}
        order by order_num asc
    </select>

</mapper>