<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.agentserver.persistence.basic.BatchWeixinmpTemplateMessageMapper">


    <select id="find" parameterType="long" resultType="cn.com.yusong.yhdg.common.domain.basic.BatchWeixinmpTemplateMessage">
        select
        *
        from bas_batch_weixinmp_template_message
        where id = #{id}
    </select>


    <select id="findPageCount" parameterType="cn.com.yusong.yhdg.common.domain.basic.BatchWeixinmpTemplateMessage" resultType="int">
        select
        count(id)
        from bas_batch_weixinmp_template_message
        <trim prefix="where" prefixOverrides="and">
            <if test="templateName != null and templateName != ''">
                <![CDATA[and template_name LIKE concat('%', #{templateName}, '%')]]>
            </if>
        </trim>
    </select>

    <select id="findPageResult" parameterType="cn.com.yusong.yhdg.common.domain.basic.BatchWeixinmpTemplateMessage" resultType="cn.com.yusong.yhdg.common.domain.basic.BatchWeixinmpTemplateMessage">
        select
        *
        from bas_batch_weixinmp_template_message
        <trim prefix="where" prefixOverrides="and">
            <if test="templateName != null and templateName != ''">
                <![CDATA[and template_name LIKE concat('%', #{templateName}, '%')]]>
            </if>
        </trim>
        order by create_time DESC
        limit ${beginIndex}, ${rows}
    </select>

    <insert id="insert" parameterType="cn.com.yusong.yhdg.common.domain.basic.BatchWeixinmpTemplateMessage" useGeneratedKeys="true" keyProperty="id">
        insert into bas_batch_weixinmp_template_message(template_name, template_id, title, variable, url, operator_name, customer_count, content, create_time)
        values(#{templateName}, #{templateId}, #{title}, #{variable}, #{url}, #{operatorName}, #{customerCount}, #{content}, #{createTime})
    </insert>


</mapper>