<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.agentserver.persistence.basic.CustomerPayTrackMapper">

    <insert id="insert" parameterType="cn.com.yusong.yhdg.common.domain.basic.CustomerPayTrack" useGeneratedKeys="true" keyProperty="id">
        insert into bas_customer_pay_track (agent_id, customer_id, customer_mobile, customer_fullname, track_type, memo, create_time)
        values (#{agentId}, #{customerId}, #{customerMobile}, #{customerFullname}, #{trackType}, #{memo}, #{createTime})
    </insert>

</mapper>