<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusong.yhdg.agentserver.persistence.basic.CustomerExchangeInfoMapper">
    <select id="find" parameterType="long" resultType="cn.com.yusong.yhdg.common.domain.basic.CustomerExchangeInfo">
        select
        *
        from bas_customer_exchange_info
        where id = #{id}
    </select>

    <update id="clearBatteryForegiftOrderId">
        update bas_customer_exchange_info set
        foregift_order_id = null,
        foregift = ifnull((select sum(money) from bas_customer_foregift_order
        where status in
        <foreach collection="statusList" item="item" open="(" separator="," close=")">#{item}</foreach>
        AND customer_id = #{id}), 0)
        where id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        delete from bas_customer_exchange_info where id = #{id}
    </delete>

</mapper>