<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.agentserver.persistence.basic.EstateInOutMoneyMapper">

    <select id="find" resultType="cn.com.yusong.yhdg.common.domain.basic.EstateInOutMoney">
        select *
        from bas_estate_in_out_money
        where id=#{id}
    </select>

    <select id="findPageCount" parameterType="cn.com.yusong.yhdg.common.domain.basic.EstateInOutMoney" resultType="int">
        select
        count(*)
        from bas_estate_in_out_money
        <trim prefix="where" prefixOverrides="and">
            <if test="estateId !=null">
                and estate_id = #{estateId}
            </if>
            <if test="bizType !=null">
                and biz_type = #{bizType}
            </if>
            <if test="type !=null">
                and type = #{type}
            </if>
            <if test="queryTime !=null and queryTime != ''">
                and DATE_FORMAT(bas_estate_in_out_money.create_time, '%Y-%c') =#{queryTime}
            </if>
        </trim>
    </select>

    <select id="findPageResult" parameterType="cn.com.yusong.yhdg.common.domain.basic.EstateInOutMoney" resultType="cn.com.yusong.yhdg.common.domain.basic.EstateInOutMoney">
        select
        *
        from bas_estate_in_out_money
        <trim prefix="where" prefixOverrides="and">
            <if test="estateId != null">
                and estate_id = #{estateId}
            </if>
            <if test="bizType !=null">
                and biz_type = #{bizType}
            </if>
            <if test="type !=null">
                and type = #{type}
            </if>
            <if test="queryTime !=null and queryTime != ''">
                and DATE_FORMAT(bas_estate_in_out_money.create_time, '%Y-%c') =#{queryTime}
            </if>
        </trim>
        order by id desc
        limit ${beginIndex}, ${rows}
    </select>

    <insert id="insert" parameterType="cn.com.yusong.yhdg.common.domain.basic.EstateInOutMoney">
        insert into bas_estate_in_out_money(estate_id, biz_type, biz_id, money, create_time, type, balance, operator)
        values(#{estateId}, #{bizType},  #{bizId}, #{money}, #{createTime}, #{type}, #{balance}, #{operator})
    </insert>

</mapper>