<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.agentserver.persistence.basic.ShopPermMapper">

    <select id="findAll" resultType="cn.com.yusong.yhdg.common.domain.basic.ShopPerm">
        select
        *
        from bas_shop_perm
        order by order_num asc
    </select>

</mapper>