<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusong.yhdg.appserver.persistence.hdg.ExchangeWhiteListMapper">

    <select id="findByCustomer" resultType="cn.com.yusong.yhdg.common.domain.hdg.ExchangeWhiteList">
        select
        *
        from hdg_exchange_whitelist
        where agent_id = #{agentId} and customer_id =  #{customerId}
        limit 1
    </select>

</mapper>