<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.appserver.persistence.hdg.ExchangeInstallmentCustomerMapper">

    <select id="findCustomerMobile" parameterType="string" resultType="cn.com.yusong.yhdg.common.domain.hdg.ExchangeInstallmentCustomer">
        select
        *
        from hdg_exchange_installment_customer
        where customer_mobile = #{customerMobile}
    </select>


    <select id="findSettingId" parameterType="long" resultType="cn.com.yusong.yhdg.common.domain.hdg.ExchangeInstallmentCustomer">
        select
        *
        from hdg_exchange_installment_customer
        where setting_id = #{settingId}
    </select>


</mapper>