<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.appserver.persistence.hdg.InsuranceMapper">

    <select id="find" resultType="cn.com.yusong.yhdg.common.domain.hdg.Insurance">
        select
        *
        from hdg_insurance
        where id = #{id}
    </select>

    <select id="findList" resultType="cn.com.yusong.yhdg.common.domain.hdg.Insurance">
        select
        *
        from hdg_insurance
        where agent_id = #{agentId}
        and battery_type = #{batteryType}
    </select>
</mapper>