<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.appserver.persistence.hdg.VipPacketPeriodPriceRenewMapper">

    <select id="find" parameterType="long" resultType="cn.com.yusong.yhdg.common.domain.hdg.VipPacketPeriodPriceRenew">
        SELECT
        *
        FROM hdg_vip_packet_period_price_renew
        WHERE id = #{id}
    </select>

    <select id="findList" resultType="cn.com.yusong.yhdg.common.domain.hdg.VipPacketPeriodPriceRenew">
        select
        *
        from hdg_vip_packet_period_price_renew
        where agent_id = #{agentId}
        AND battery_type = #{batteryType}
        <if test="foregiftId != null and  foregiftId != 0">
            AND foregift_id = #{foregiftId}
        </if>
        order by day_count desc
    </select>

</mapper>