<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusong.yhdg.routeserver.persistence.hdg.CabinetSimReplaceRecordMapper">

    <insert id="insert">
        insert into hdg_cabinet_sim_replace_record(cabinet_id, old_code, old_photo_path, new_code, new_photo_path, operator, memo, create_time)
        values(#{cabinetId}, #{oldCode}, #{oldPhotoPath}, #{newCode}, #{newPhotoPath}, #{operator}, #{memo}, #{createTime})
    </insert>

</mapper>