<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.agentappserver.persistence.basic.AgentNoticeMessageMapper">

    <select id="find" resultType="cn.com.yusong.yhdg.common.domain.basic.AgentNoticeMessage">
        select
        *
        from bas_agent_notice_message
        where id = #{id}
        <if test="type != null and type != 0">
            and type = #{type}
        </if>
    </select>
    
    <select id="findListByCustomerId" resultType="cn.com.yusong.yhdg.common.domain.basic.AgentNoticeMessage">
        select
        *
        from bas_agent_notice_message
        where agent_id = #{agentId}
        <if test="type != null and type != 0">
            and type = #{type}
        </if>
        order by create_time desc
        limit ${offset},${limit}
    </select>
    
</mapper>