<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.agentappserver.persistence.basic.AgentCompanyIncomeRatioHistoryMapper">

    <select id="find" resultType="cn.com.yusong.yhdg.common.domain.basic.AgentCompanyIncomeRatioHistory">
        select
        *
        from bas_agent_company_income_ratio_history_${suffix}
        where agent_company_id = #{agentCompanyId} and agent_id = #{agentId} and stats_date = #{statsDate} and org_type = #{orgType}
    </select>

    <select id="exist" resultType="string">
        show tables like 'bas_agent_company_income_ratio_history_${suffix}'
    </select>
</mapper>