<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.agentappserver.persistence.basic.AgentCompanyCustomerMapper">

    <select id="findByCompanyId" parameterType="string" resultType="cn.com.yusong.yhdg.common.domain.basic.AgentCompanyCustomer">
        select
        *
        from bas_agent_company_customer
        where agent_company_id = #{agentCompanyId}
    </select>

    <select id="findByCustomerId" parameterType="long" resultType="cn.com.yusong.yhdg.common.domain.basic.AgentCompanyCustomer">
        select
        *
        from bas_agent_company_customer
        where customer_id = #{customerId}
    </select>

    <select id="findDateRange" resultType="cn.com.yusong.yhdg.common.domain.basic.AgentCompanyCustomer">
        SELECT
        *
        FROM bas_agent_company_customer
        WHERE agent_id = #{agentId} and agent_company_id = #{agentCompanyId}
        <if test="beginTime != null and endTime != null">
            AND create_time BETWEEN #{beginTime} AND #{endTime}
        </if>
    </select>

    <select id="findByMobile" resultType="cn.com.yusong.yhdg.common.domain.basic.AgentCompanyCustomer">
        SELECT
        *
        FROM bas_agent_company_customer
        where customer_mobile = #{customerMobile}
    </select>


    <insert id="insert" parameterType="cn.com.yusong.yhdg.common.domain.basic.AgentCompanyCustomer">
        INSERT INTO bas_agent_company_customer(
        agent_id,
        agent_name,
        agent_company_id,
        customer_id,
        customer_mobile,
        customer_fullname,
        create_time
        ) VALUES (
        #{agentId},
        #{agentName},
        #{agentCompanyId},
        #{customerId},
        #{customerMobile},
        #{customerFullname},
        #{createTime}
        )
    </insert>

    <delete id="delete">
        delete from bas_agent_company_customer where agent_company_id = #{agentCompanyId} and customer_id = #{customerId}
    </delete>

</mapper>