<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.agentappserver.persistence.basic.CustomerPayTrackMapper">

    <select id="findList" parameterType="cn.com.yusong.yhdg.common.domain.basic.CustomerPayTrack"
            resultType="cn.com.yusong.yhdg.common.domain.basic.CustomerPayTrack">
        select
        *
        from bas_customer_pay_track
        where agent_id = #{agentId}
        and customer_id = #{customerId}
        order by id desc
        limit #{offset}, #{limit}
    </select>


</mapper>