<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.agentappserver.persistence.basic.CustomerCouponTicketMapper">

    <select id="find" resultType="cn.com.yusong.yhdg.common.domain.basic.CustomerCouponTicket">
        select
        *
        from bas_customer_coupon_ticket
        where id = #{id}
    </select>

    <select id="findList" resultType="cn.com.yusong.yhdg.common.domain.basic.CustomerCouponTicket">
        select
        *
        from bas_customer_coupon_ticket
        where 1 = 1
        <if test="status == 0">
            and status in (1,2,3)
        </if>
        <if test="status != 0">
            and status = #{status}
        </if>
        <if test="customerMobile != null and customerMobile != ''">
            <![CDATA[and customer_mobile LIKE concat('%', #{customerMobile}, '%')]]>
        </if>
        <if test="agentId!=null">
            and agent_id = #{agentId}
        </if>
        <if test="category!=null">
            and category = #{category}
        </if>
        ORDER BY id desc
        <if test="offset!=null and limit!=null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="findCount" resultType="int">
        select
        ifnull(count(*),0)
        from bas_customer_coupon_ticket
        where customer_mobile = #{customerMobile}
        and agent_id = #{agentId} and status = 1
        <if test="ticketType != null">
           and ticket_type = #{ticketType}
        </if>
    </select>

    <insert id="insert" parameterType="cn.com.yusong.yhdg.common.domain.basic.CustomerCouponTicket" useGeneratedKeys="true" keyProperty="id">
        insert into bas_customer_coupon_ticket(
        partner_id,
        agent_id,
        ticket_name,
        money,
        status,
        category,
        expire_time,
        customer_mobile,
        memo,
        operator,
        ticket_type,
        give_type,
        begin_time,
        create_time)
        values(
        #{partnerId},
        #{agentId},
        #{ticketName},
        #{money},
        #{status},
        #{category},
        #{expireTime},
        #{customerMobile},
        #{memo},
        #{operator},
        #{ticketType},
        #{giveType},
        #{beginTime},
        #{createTime})
    </insert>

    <update id="update" parameterType="cn.com.yusong.yhdg.common.domain.basic.CustomerCouponTicket">
        update  bas_customer_coupon_ticket set
        <trim suffix="" suffixOverrides=",">
            <if test="ticketName != null and ticketName != ''">
                ticket_name = #{ticketName},
            </if>
            <if test="money != null">
                money = #{money},
            </if>
            <if test="customerMobile != null and customerMobile != ''">
                customer_mobile = #{customerMobile},
            </if>
            <if test="beginTime != null">
                begin_time = #{beginTime},
            </if>
            <if test="expireTime != null">
                expire_time = #{expireTime},
            </if>
            <if test="memo != null and memo != ''">
                memo = #{memo},
            </if>
            <if test="ticketType != null">
                ticket_type = #{ticketType},
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="delete">
        delete from bas_customer_coupon_ticket where id = #{id}
    </delete>

</mapper>