<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusong.yhdg.agentappserver.persistence.basic.CustomerExchangeBatteryMapper">

    <select id="findByCustomerId" parameterType="long" resultType="cn.com.yusong.yhdg.common.domain.basic.CustomerExchangeBattery">
        select
        *
        from bas_customer_exchange_battery
        where customer_id = #{customerId}
    </select>

    <select id="findByBatteryId" parameterType="string" resultType="cn.com.yusong.yhdg.common.domain.basic.CustomerExchangeBattery">
        select
        *
        from bas_customer_exchange_battery
        where battery_id = #{batteryId}
    </select>

    <select id="exists" parameterType="long" resultType="int">
        select
        count(1)
        from bas_customer_exchange_battery
        where customer_id = #{customerId}
    </select>

    <insert id="insert" parameterType="cn.com.yusong.yhdg.common.domain.basic.CustomerExchangeBattery" useGeneratedKeys="true"
            keyProperty="id">
        insert into bas_customer_exchange_battery(
        customer_id,
        agent_id,
        battery_id,
        battery_type,
        battery_order_id,
        back_battery_order_id
        ) values (
        #{customerId},
        #{agentId},
        #{batteryId},
        #{batteryType},
        #{batteryOrderId},
        #{backBatteryOrderId}
        )
    </insert>

    <delete id="clearBattery">
        delete from  bas_customer_exchange_battery
        where customer_id = #{customerId}
        and battery_id = #{batteryId}
    </delete>

    <update id="updateBattery">
        update bas_customer_exchange_battery set
        battery_id = #{newBatteryId}
        where customer_id = #{customerId} and battery_id = #{oldBatteryId}
    </update>

    <delete id="deleteByCustomerId" parameterType="long">
        delete from bas_customer_exchange_battery where customer_id = #{customerId}
    </delete>

</mapper>