*{
	margin: 0;
	padding: 0;
	line-height: 1;
}
html,body{
	width: 100%;
	overflow-x: hidden;
	height: 100%;
}
input,select{
	outline: none;
}
.wraper{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction:column;
}
.login_top{
	width: 100%;
	height: 65px;
	display: flex;
	align-items: center;
}
.login_top img{
	width: 33px;
	height: 26px;
	margin-left: 30px;
	margin-right: 10px;
	display: block;
}
.login_top div span:nth-child(1){
	width: 100%;
	display: block;
	color: #606972;
	font-size: 14px;
}
.login_top div span:nth-child(2){
	width: 100%;
	display: block;
	color: #606972;
	font-size: 10px;
}
.login_content{
	flex: 1;
	width: 100%;
	display: flex;
	align-items: center;
	background: url("../img/bg.png") no-repeat top center/100% 100%;

}
.login_content .c-left{
	flex: 1;
	display: flex;
	justify-content: flex-end;
}
.login_content .c-left div{
	width: 291px;

}
.login_content .c-left div span:nth-child(1){
	font-size: 22px;
	width: 100%;
	text-align: center;
	margin-bottom: 19px;
	color: #ffffff;
	display: block;
}
.login_content .c-left div span:nth-child(2){
	font-size: 16px;
	width: 100%;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: #ffffff;
	display: block;
	background: url('../img/icon2.png') no-repeat top center/100% auto;
}
.login_content .c-right{
	width: 656px;
	margin-right: 71px;
	display: flex;
	margin-left: 56px;
}
.cr-left{
	width: 328px;
	height: 384px;
	display: flex;
	align-items: center;
	background-color: #556bd8;
	border-radius: 10px 0px 0px 10px;
}
.cr-left img{
	width: 238px;
	height: auto;
	display: block;
	margin: 0 auto;
}
.cr-right{
	width: 328px;
	height: 384px;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	align-content: center;
	justify-content: center;
	background-color: #ffffff;
	border-radius: 0px 10px 10px 0px;
}
.tips{
	width: 100%;
	text-align: center;
	color: #333333;
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 35px;
}
.role{
	width: 256px;
	position: relative;
	height: auto;
	margin-bottom: 14px;
}
.role i{
	width: 15px;
	height: 18px;
	display: block;
	position: absolute;
	left: 13px;
	top: 7px;
}
.role i img{
	width: 15px;
	height: 18px;
	display: block;
}
.role select{
	width: 256px;
	height: 32px;
	line-height: 32px;
	display: block;
	text-indent: 34px;
	border-radius: 6px;
	border: solid 1px #d7d7d7;
}
.account{
	width: 256px;
	position: relative;
	height: auto;
	margin-bottom: 14px;
}
.account i{
	width: 15px;
	height: 18px;
	display: block;
	position: absolute;
	left: 13px;
	top: 7px;
}
.account i img{
	width: 15px;
	height: 18px;
	display: block;
}
.account input{
	width: 256px;
	height: 32px;
	line-height: 32px;
	display: block;
	text-indent: 34px;
	border-radius: 6px;
	border: solid 1px #d7d7d7;
}

.pwd{
	width: 256px;
	position: relative;
	height: auto;

}
.pwd i{
	width: 15px;
	height: 18px;
	display: block;
	position: absolute;
	left: 13px;
	top: 7px;
}
.pwd i img{
	width: 15px;
	height: 18px;
	display: block;
}
.pwd input{
	width: 256px;
	height: 32px;
	line-height: 32px;
	display: block;
	text-indent: 34px;
	border-radius: 6px;
	border: solid 1px #d7d7d7;
}
.btn_login{
	width: 257px;
	height: 33px;
	line-height: 33px;
	text-align: center;
	color: #FFFFFF;
	font-size: 14px;
	margin-top: 30px;
	background-color: #556bd8;
	border-radius: 6px;
}
.qimg{
	width: 43px;
	height: 43px;
	position: absolute;
	right: 9px;
	bottom: 9px;
}
.qimg img{
	width: 43px;
	height: 43px;
	display: block;
}
.code{
	width: 136px;
	height: 136px;
	position: relative;
}
.code>img{
	width: 136px;
	height: 136px;
	display: block;
}
.code div{
	width: 136px;
	height: 136px;
	position: absolute;
	left: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	top: 0;
	background: rgba(0,0,0,0.7);
}
.code div img{
	width: 20px;
	height: 20px;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}
.code div span{
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
	text-align: center;
	display: block;
	color: #FFFFFF;
	font-size: 12px;
}
.gotips{
	display: block;
	width: 100%;
	color: #333333;
	margin-top: 14px;
	font-size: 14px;
	text-align: center;
}
.gopwd{
	display: block;
	width: 100%;
	color: #556bd8;
	margin-top: 10px;
	font-size: 14px;
	text-align: center;
}

.foot{
	width: 100%;
	height: 65px;
	text-align: center;
	font-family: PingFang-SC-Medium;
	font-size: 9px;
	line-height: 40px;
}

@media only screen and (min-width: 1366px) {

}
@media only screen and (min-width: 1900px) {
	.login_top{
		width: 100%;
		height: 90px;
		display: flex;
		align-items: center;
	}
	.login_top img{
		width: 64px;
		height: auto;
		margin-left: 20px;
		margin-right: 20px;
		display: block;
	}
	.login_top div span:nth-child(1){
		width: 100%;
		display: block;
		color: #606972;
		margin-bottom: 10px;
		font-size: 20px;
	}
	.login_top div span:nth-child(2){
		width: 100%;
		display: block;
		color: #606972;
		font-size: 14px;
	}
	.login_content{
		flex: 1;
		width: 100%;
		display: flex;
		align-items: center;
		background: url("../img/login/bg.png") no-repeat top center/100% 100%;

	}
	.login_content .c-left{
		flex: 1;
		display: flex;
		justify-content: flex-end;
	}
	.login_content .c-left div{
		width: 321px;

	}
	.login_content .c-left div span:nth-child(1){
		font-size: 32px;
		width: 100%;
		text-align: center;
		margin-bottom: 31px;
		color: #ffffff;
		display: block;
	}
	.login_content .c-left div span:nth-child(2){
		font-size: 22px;
		width: 100%;
		height: 40px;
		line-height: 40px;
		text-align: center;
		color: #ffffff;
		display: block;
		background: url('../img/icon2.png') no-repeat top center/100% auto;
	}
	.login_content .c-right{
		width: 920px;
		margin-right: 100px;
		display: flex;
		margin-left: 123px;
	}
	.cr-left{
		width: 460px;
		height: 537px;
		display: flex;
		align-items: center;
		background-color: #556bd8;
		border-radius: 10px 0px 0px 10px;
	}
	.cr-left img{
		width: 334px;
		height: 341px;
		margin: 0 auto;
	}
	.cr-right{
		width: 460px;
		height: 537px;
		display: flex;
		flex-wrap: wrap;
		position: relative;
		align-content: center;
		justify-content: center;
		background-color: #ffffff;
		border-radius: 0px 10px 10px 0px;
	}
	.tips{
		width: 100%;
		text-align: center;
		color: #333333;
		font-weight: bold;
		font-size: 22px;
		margin-bottom: 60px;
	}
	.role{
		width: 360px;
		position: relative;
		height: auto;
		margin-bottom: 19px;
	}
	.role i{
		width: 20px;
		height: 24px;
		display: block;
		position: absolute;
		left: 20px;
		top: 11px;
	}
	.role i img{
		width: 20px;
		height: 24px;
		display: block;
	}
	.role select{
		width: 360px;
		height: 45px;
		line-height: 45px;
		display: block;
		font-size: 14px;
		text-indent: 50px;
		border-radius: 6px;
		border: solid 1px #d7d7d7;
	}
	.account{
		width: 360px;
		position: relative;
		height: auto;
		margin-bottom: 19px;
	}
	.account i{
		width: 20px;
		height: 24px;
		display: block;
		position: absolute;
		left: 20px;
		top: 11px;
	}
	.account i img{
		width: 20px;
		height: 24px;
		display: block;
	}
	.account input{
		width: 360px;
		height: 45px;
		line-height: 45px;
		display: block;
		text-indent: 50px;
		font-size: 14px;
		border-radius: 6px;
		border: solid 1px #d7d7d7;
	}

	.pwd{
		width: 360px;
		position: relative;
		height: auto;

	}
	.pwd i{
		width: 20px;
		height: 24px;
		display: block;
		position: absolute;
		left: 20px;
		top: 11px;
	}
	.pwd i img{
		width: 20px;
		height: 24px;
		display: block;
	}
	.pwd input{
		width: 360px;
		height: 45px;
		line-height: 45px;
		display: block;
		font-size: 14px;
		text-indent: 50px;
		border-radius: 6px;
		border: solid 1px #d7d7d7;
	}
	.btn_login{
		width: 360px;
		height: 45px;
		line-height: 45px;
		text-align: center;
		color: #FFFFFF;
		font-size: 16px;
		margin-top: 43px;
		background-color: #556BD8;
		border-radius: 6px;
	}
	.qimg{
		width: 43px;
		height: 43px;
		position: absolute;
		right: 9px;
		bottom: 9px;
	}
	.qimg img{
		width: 43px;
		height: 43px;
		display: block;
	}
	.code{
		width: 136px;
		height: 136px;
		position: relative;
	}
	.code>img{
		width: 136px;
		height: 136px;
		display: block;
	}
	.code div{
		width: 136px;
		height: 136px;
		position: absolute;
		left: 0;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		align-content: center;
		top: 0;
		background: rgba(0,0,0,0.7);
	}
	.code div img{
		width: 20px;
		height: 20px;
		display: block;
		margin: 0 auto;
		margin-bottom: 10px;
	}
	.code div span{
		width: 100%;
		padding: 0 20px;
		box-sizing: border-box;
		text-align: center;
		display: block;
		color: #FFFFFF;
		font-size: 12px;
	}
	.gotips{
		display: block;
		width: 100%;
		color: #333333;
		margin-top: 14px;
		font-size: 14px;
		text-align: center;
	}
	.gopwd{
		display: block;
		width: 100%;
		color: #556bd8;
		margin-top: 10px;
		font-size: 14px;
		text-align: center;
	}

	.foot{
		width: 100%;
		height: 90px;
		text-align: center;
		font-family: PingFang-SC-Medium;
		font-size: 14px;
		line-height: 50px;
	}

}