<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusong.yhdg.appserver.persistence.yms.PlaylistMapper">

    <select id="find" parameterType="int" resultType="cn.com.yusong.yhdg.common.domain.yms.Playlist">
        select
            *
        from yms_playlist
        where id = #{id}
    </select>
</mapper>