<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.cabinetserver.persistence.basic.LaxinCustomerMapper">

    <select id="findByTargetMobile" resultType="cn.com.yusong.yhdg.common.domain.basic.LaxinCustomer">
        select
            *
        from bas_laxin_customer
        where target_mobile = #{targetMobile}
    </select>

</mapper>