<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.cabinetserver.persistence.basic.TerminalUpgradePackMapper">


    <select id="find" resultType="cn.com.yusong.yhdg.common.domain.basic.TerminalUpgradePack">
        select
        *
        from  bas_terminal_upgrade_pack
        where id = #{id}
    </select>

    <select id="findByOldVersion" resultType="cn.com.yusong.yhdg.common.domain.basic.TerminalUpgradePack">
        select
        *
        from  bas_terminal_upgrade_pack
        where pack_type = #{packType}
        and old_version = #{oldVersion}
    </select>

</mapper>