<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusong.yhdg.agentserver.persistence.zc.ShopPriceSettingMapper">
    <select id="find" resultType="cn.com.yusong.yhdg.common.domain.zc.ShopPriceSetting">
        select
        zsps.*,
        zps.category AS category,
        zps.vehicle_name AS vehicleName,
        zvm.model_name AS modelName,
        zps.is_active AS isActive,
        zps.setting_name AS settingName,
        zps.model_id AS modelId,
        zps.battery_count AS batteryCount
        from zc_shop_price_setting AS zsps LEFT JOIN zc_price_setting AS zps ON zsps.price_setting_id = zps.id
        LEFT JOIN zc_vehicle_model AS zvm ON zps.model_id = zvm.id
       where zsps.id = #{id}
    </select>

    <select id="fondByShopCount" resultType="int">
        select count(*)
        from zc_shop_price_setting
        where shop_id = #{shopId} AND price_setting_id = #{priceSettingId}
    </select>

    <select id="findPageCount" parameterType="cn.com.yusong.yhdg.common.domain.zc.ShopPriceSetting" resultType="int">
        select count(*)
        from zc_shop_price_setting AS zsps LEFT JOIN zc_price_setting AS zps ON zsps.price_setting_id = zps.id
        LEFT JOIN zc_vehicle_model AS zvm ON zps.model_id = zvm.id
        <trim prefix="where" prefixOverrides="and">
            <if test="settingName != null and settingName != ''">
                <![CDATA[and zps.setting_name LIKE concat('%', #{settingName}, '%')]]>
            </if>
            <if test="agentId != null">
                and zsps.agent_id = #{agentId}
            </if>
            <if test="shopId != null and shopId != ''">
                and zsps.shop_id = #{shopId}
            </if>
        </trim>
    </select>

    <select id="findPageResult" parameterType="cn.com.yusong.yhdg.common.domain.zc.ShopPriceSetting" resultType="cn.com.yusong.yhdg.common.domain.zc.ShopPriceSetting">
        select
        zsps.*,
        zps.category AS category,
        zps.vehicle_name AS vehicleName,
        zvm.model_name AS modelName,
        zps.is_active AS isActive,
        zps.setting_name AS settingName,
        zps.model_id AS modelId,
        zps.battery_count AS batteryCount
        from zc_shop_price_setting AS zsps LEFT JOIN zc_price_setting AS zps ON zsps.price_setting_id = zps.id
        LEFT JOIN zc_vehicle_model AS zvm ON zps.model_id = zvm.id
        <trim prefix="where" prefixOverrides="and">
            <if test="settingName != null and settingName != ''">
                <![CDATA[and zps.setting_name LIKE concat('%', #{settingName}, '%')]]>
            </if>
            <if test="agentId != null">
                and zsps.agent_id = #{agentId}
            </if>
            <if test="shopId != null and shopId != ''">
                and zsps.shop_id = #{shopId}
            </if>
        </trim>
        order by zsps.id desc
        limit ${beginIndex}, ${rows}
    </select>

    <select id="findByShopPageCount" parameterType="cn.com.yusong.yhdg.common.domain.zc.ShopPriceSetting" resultType="int">
        select count(*)
        from zc_shop_price_setting AS zsps LEFT JOIN zc_price_setting AS zps ON zsps.price_setting_id = zps.id
        LEFT JOIN zc_vehicle_model AS zvm ON zps.model_id = zvm.id
        <trim prefix="where" prefixOverrides="and">
            <if test="settingName != null and settingName != ''">
                <![CDATA[and zps.setting_name LIKE concat('%', #{settingName}, '%')]]>
            </if>
            <if test="agentId != null">
                and zsps.agent_id = #{agentId}
            </if>
            <if test="shopId != null and shopId != ''">
                and zsps.shop_id = #{shopId}
            </if>
        </trim>
    </select>

    <select id="findByShopPageResult" parameterType="cn.com.yusong.yhdg.common.domain.zc.ShopPriceSetting" resultType="cn.com.yusong.yhdg.common.domain.zc.ShopPriceSetting">
        select
        zsps.*,
        zps.category AS category,
        zps.vehicle_name AS vehicleName,
        zvm.model_name AS modelName,
        zps.is_active AS isActive,
        zps.setting_name AS settingName,
        zps.model_id AS modelId,
        zps.battery_count AS batteryCount
        from zc_shop_price_setting AS zsps LEFT JOIN zc_price_setting AS zps ON zsps.price_setting_id = zps.id
        LEFT JOIN zc_vehicle_model AS zvm ON zps.model_id = zvm.id
        <trim prefix="where" prefixOverrides="and">
            <if test="settingName != null and settingName != ''">
                <![CDATA[and zps.setting_name LIKE concat('%', #{settingName}, '%')]]>
            </if>
            <if test="agentId != null">
                and zsps.agent_id = #{agentId}
            </if>
            <if test="shopId != null and shopId != ''">
                and zsps.shop_id = #{shopId}
            </if>
        </trim>
        order by zsps.id desc
        limit ${beginIndex}, ${rows}
    </select>

    <insert id="insert" parameterType="cn.com.yusong.yhdg.common.domain.zc.ShopPriceSetting" useGeneratedKeys="true" keyProperty="id">
        insert into zc_shop_price_setting
        (
        agent_id,
        agent_name,
        agent_code,
        shop_id,
        shop_name,
        price_setting_id,
        create_time,
        vehicle_count
        ) VALUES
        (
        #{agentId},
        #{agentName},
        #{agentCode},
        #{shopId},
        #{shopName},
        #{priceSettingId},
        #{createTime},
        #{vehicleCount}
        )
    </insert>

    <delete id="delete">
        delete from zc_shop_price_setting
        where id = #{id}
    </delete>


</mapper>