<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusong.yhdg.appserver.persistence.zc.RentPriceMapper">
    
    <select id="find" parameterType="long" resultType="cn.com.yusong.yhdg.common.domain.zc.RentPrice">
        select
        *
        from zc_rent_price
        where id = #{id}
    </select>

    <select id="findListBySettingId" parameterType="long" resultType="cn.com.yusong.yhdg.common.domain.zc.RentPrice">
        select
        *
        from zc_rent_price
        where price_setting_id = #{settingId}
    </select>

</mapper>