<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusong.yhdg.appserver.persistence.zc.ShopPriceSettingMapper">
    <select id="find" resultType="cn.com.yusong.yhdg.common.domain.zc.ShopPriceSetting">
        select *
        from zc_shop_price_setting
       where id = #{id}
    </select>

    <select id="fondByShopCount" resultType="int">
        select count(*)
        from zc_shop_price_setting
        where shop_id = #{shopId} AND price_setting_id = #{priceSettingId}
    </select>

    <select id="findByPriceSettingIdAll" resultType="cn.com.yusong.yhdg.common.domain.zc.ShopPriceSetting">
        select *
        from zc_shop_price_setting
        where price_setting_id = #{priceSettingId}
    </select>

    <select id="findByPriceListShop" resultType="cn.com.yusong.yhdg.common.domain.zc.ShopPriceSetting">
        select *
        from zc_shop_price_setting
        where shop_id = #{shopId}
        <if test="priceSettingId !=null">
            AND price_setting_id = ${priceSettingId}
        </if>
    </select>


</mapper>