<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusong.yhdg.agentserver.persistence.yms.TerminalScreenSnapshotMapper">

    <select id="findPageCount" parameterType="cn.com.yusong.yhdg.common.domain.yms.TerminalScreenSnapshot" resultType="int">
        select
            count(*)
        from yms_terminal_screen_snapshot
        <trim prefix="where" prefixOverrides="and">
            <if test="agentId != 0 and agentId != null">
                <choose>
                    <when test="descendant != null and descendant == 1">
                        <![CDATA[and agent_id LIKE concat('%', #{agentId})]]>
                    </when>
                    <otherwise>
                        <![CDATA[and agent_id = #{agentId}]]>
                    </otherwise>
                </choose>
            </if>
            <if test="terminalId != null and terminalId != ''">
                and terminal_id = #{terminalId}
            </if>
        </trim>
    </select>

    <select id="findPageResult" parameterType="cn.com.yusong.yhdg.common.domain.yms.TerminalScreenSnapshot" resultType="cn.com.yusong.yhdg.common.domain.yms.TerminalScreenSnapshot">
        select
            *
        from yms_terminal_screen_snapshot
        <trim prefix="where" prefixOverrides="and">
            <if test="agentId != 0 and agentId != null">
                <choose>
                    <when test="descendant != null and descendant == 1">
                        <![CDATA[and agent_id LIKE concat('%', #{agentId})]]>
                    </when>
                    <otherwise>
                        <![CDATA[and agent_id = #{agentId}]]>
                    </otherwise>
                </choose>
            </if>
            <if test="terminalId != null and terminalId != ''">
                and terminal_id = #{terminalId}
            </if>
        </trim>
        order by id desc
        limit #{beginIndex}, #{rows}
    </select>

</mapper>