<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.agentserver.persistence.yms.TerminalPropertyMapper">

    <resultMap id="terminalPropertyMap" type="cn.com.yusong.yhdg.common.domain.yms.TerminalProperty">
        <result column="terminal_id" property="terminalId"/>
        <result column="order_num" property="orderNum"/>
        <result column="property_name" property="propertyName"/>
        <result column="property_value" property="propertyValue"/>
        <result column="is_active" property="isActive"/>
    </resultMap>

    <select id="findByTerminal" parameterType="String" resultMap="terminalPropertyMap">
        select terminal_id, property_name, property_value,is_active from yms_terminal_property where terminal_id = #{terminalId}
    </select>

    <insert id="insert" parameterType="cn.com.yusong.yhdg.common.domain.yms.TerminalProperty">
        insert into yms_terminal_property(terminal_id, order_num, property_name, property_value, is_active)
        values(#{terminalId}, #{orderNum}, #{propertyName}, #{propertyValue}, #{isActive})
    </insert>

    <delete id="deleteByTerminal" parameterType="String">
        delete from yms_terminal_property where terminal_id = #{terminalId}
    </delete>

</mapper>
