<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusong.yhdg.batteryserver.persistence.hdg.BatteryParameterLogMapper">

    <select id="findByBatteryId" resultType="cn.com.yusong.yhdg.common.domain.hdg.BatteryParameterLog">
        select *
        from hdg_battery_parameter_log
        where battery_id = #{batteryId}
        and status = #{status}
    </select>

    <update id="report">
        update hdg_battery_parameter_log set
                status = #{status},
                report_time  = #{reportTime}
        where id = #{id}
    </update>

</mapper>