<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.yusong.yhdg.staticserver.persistence.basic.AgentDepositOrderMapper">

    <select id="find" resultType="cn.com.yusong.yhdg.common.domain.basic.AgentDepositOrder">
        select *
        from bas_agent_deposit_order
        where id=#{id}
    </select>

    <update id="payOk">
        update bas_agent_deposit_order set status = #{toStatus}, handle_time = #{handleTime} where id = #{id} and status = #{fromStatus}
    </update>
</mapper>