<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusong.yhdg.serviceserver.persistence.hdg.BatteryOrderAllotMapper">

    <select id="exist" resultType="string">
        show tables like 'hdg_battery_order_allot_${suffix}'
    </select>

    <update id="createTable">
        /*订单分配金额 每周一张表*/
        create table hdg_battery_order_allot_${suffix} (
        id bigint not null auto_increment,
        partner_id int unsigned not null, /*平台id*/
        agent_id int unsigned not null, /*运营商id*/
        order_id char(24) not null, /*订单id*/
        customer_name varchar(40), /*客户名称*/
        customer_mobile char(11), /*客户手机号*/
        cabinet_id char(40), /*设备id*/
        cabinet_name varchar(40), /*设备名称*/
        order_money int not null, /*订单金额*/
        service_type tinyint not null, /*服务类型*/
        ratio tinyint not null, /*分成比例*/
        org_type tinyint not null, /*分配类型*/
        org_id int unsigned, /*分配单位*/
        shop_id char(40), /*门店*/
        agent_company_id char(40), /*运营公司id*/
        org_name varchar(40) not null, /*分配单位名称*/
        money decimal(11, 2) not null, /*分配金额*/
        stats_date char(10) not null, /*统计日期*/
        pay_time datetime not null, /*支付时间*/
        create_time datetime not null, /*创建时间*/
        index org_id (org_type, org_id, stats_date, money),
        index cabinet_id (org_type, org_id, stats_date, cabinet_id, customer_mobile),
        index customer_mobile (org_type, org_id, stats_date, customer_mobile),
        primary key (id)
        ) engine=innodb default charset=utf8;
    </update>

    <select id="findCountByOrder" resultType="int">
        select
        count(*)
        from hdg_battery_order_allot_${suffix}
        where order_id = #{orderId}
    </select>

    <select id="findByOrder" resultType="cn.com.yusong.yhdg.common.domain.hdg.BatteryOrderAllot">
        select * from hdg_battery_order_allot_${suffix} where service_type = #{serviceType} and order_id = #{orderId} and stats_date = #{statsDate} and agent_id = #{agentId}
    </select>

    <select id="exchangeCount" resultType="int">
        select ifnull(count(order_id), 0) from hdg_battery_order_allot_${suffix}
        where org_type = #{orgType} and stats_date = #{statsDate} and service_type = #{serviceType}
        <if test="partnerId != null ">
            and partner_id = #{partnerId}
        </if>
        <if test="agentId != null ">
            and agent_id = #{agentId}
        </if>
        <if test="cabinetId != null ">
            and cabinet_id = #{cabinetId}
        </if>
        <if test="shopId != null ">
            and shop_id = #{shopId}
        </if>
    </select>

    <select id="agentCompanyExchangeCount" resultType="int">
        select ifnull(count(order_id), 0) from hdg_battery_order_allot_${suffix}
        where org_type = #{orgType} and stats_date = #{statsDate} and service_type = #{serviceType}
        <if test="partnerId != null ">
            and partner_id = #{partnerId}
        </if>
        <if test="agentId != null ">
            and agent_id = #{agentId}
        </if>
        <if test="cabinetId != null ">
            and cabinet_id = #{cabinetId}
        </if>
        <if test="agentCompanyId != null ">
            and agent_company_id = #{agentCompanyId}
        </if>
    </select>

    <select id="sumOrderMoney" resultType="double">
        select ifnull(sum(order_money), 0) from hdg_battery_order_allot_${suffix}
        where org_type = #{orgType} and stats_date = #{statsDate} and service_type = #{serviceType}
        <if test="partnerId != null ">
            and partner_id = #{partnerId}
        </if>
        <if test="agentId != null ">
            and agent_id = #{agentId}
        </if>
        <if test="cabinetId != null ">
            and cabinet_id = #{cabinetId}
        </if>
    </select>

    <select id="sumMoney" resultType="double">
        select ifnull(sum(money), 0) from hdg_battery_order_allot_${suffix}
        where  stats_date = #{statsDate}  and service_type = #{serviceType}
        <if test="orgType != null ">
            <foreach collection="orgType" item="item" open=" AND org_type in (" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="partnerId != null ">
            and org_id = #{partnerId}
        </if>
        <if test="agentId != null ">
            and org_id = #{agentId}
        </if>
        <if test="cabinetId != null ">
            and cabinet_id = #{cabinetId}
        </if>
    </select>

    <select id="sumShopMoney" resultType="double">
        select ifnull(sum(money), 0) from hdg_battery_order_allot_${suffix}
        where org_type = #{orgType} and stats_date = #{statsDate} and service_type = #{serviceType}
        <if test="agentId != null ">
            and agent_id = #{agentId}
        </if>
        <if test="cabinetId != null ">
            and cabinet_id = #{cabinetId}
        </if>
        <if test="shopId != null ">
            and shop_id = #{shopId}
        </if>
    </select>

    <select id="sumAgentCompanyMoney" resultType="double">
        select ifnull(sum(money), 0) from hdg_battery_order_allot_${suffix}
        where org_type = #{orgType} and stats_date = #{statsDate} and service_type = #{serviceType}
        <if test="agentId != null ">
            and agent_id = #{agentId}
        </if>
        <if test="cabinetId != null and cabinetId != '' ">
            and cabinet_id = #{cabinetId}
        </if>
        <if test="agentCompanyId != null and agentCompanyId != '' ">
            and agent_company_id = #{agentCompanyId}
        </if>
    </select>

    <select id="sumMoneyByOrgType" resultType="double">
        select ifnull(sum(money), 0) from hdg_battery_order_allot_${suffix}
        where  org_type = #{orgType} and stats_date = #{statsDate} and agent_id = #{agentId} and service_type = #{serviceType}
    </select>

    <insert id="insert">
        insert into hdg_battery_order_allot_${suffix} (order_id, partner_id, agent_id, customer_name, customer_mobile, cabinet_id, cabinet_name, order_money, service_type, ratio, org_type, org_id, shop_id, agent_company_id, org_name, money, stats_date, pay_time, create_time)
        values (#{orderId}, #{partnerId}, #{agentId}, #{customerName}, #{customerMobile}, #{cabinetId}, #{cabinetName}, #{orderMoney}, #{serviceType}, #{ratio}, #{orgType}, #{orgId}, #{shopId}, #{agentCompanyId}, #{orgName}, #{money}, #{statsDate}, #{payTime}, #{createTime})
    </insert>

    <delete id="deleteByOrder">
        delete from hdg_battery_order_allot_${suffix}
        where order_id = #{orderId}
    </delete>

</mapper>