<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.serviceserver.persistence.hdg.BatteryTypeIncomeRatioMapper">

    <select id="findByBatteryType" resultType="cn.com.yusong.yhdg.common.domain.hdg.BatteryTypeIncomeRatio">
        select
        *
        from hdg_battery_type_income_ratio
       where agent_id = #{agentId}
        and battery_type = #{batteryType}
    </select>
</mapper>