<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.yusong.yhdg.serviceserver.persistence.hdg.CustomerRefundRecordMapper">



    <select id="findListByorderId" resultType="cn.com.yusong.yhdg.common.domain.basic.CustomerRefundRecord">
        select *
        from  bas_customer_refund_record
        where  order_id = #{orderId}
    </select>

</mapper>