<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.serviceserver.persistence.hdg.InsuranceOrderMapper">

    <select id="findCabinetIncrement"  resultType="cn.com.yusong.yhdg.common.domain.hdg.CabinetDayStats">
        select
        cabinet_id as cabinetId,
        agent_id as agentId,
        ifnull(SUM(money),0) as insuranceMoney,
        ifnull(count(id),0) as insuranceCount
        from hdg_insurance_order
        WHERE
        pay_time &lt;= #{endTime}
        AND pay_time &gt;= #{beginTime}
        and cabinet_id is not null
        group by cabinet_id, agent_id
    </select>

    <select id="findCabinetRefund" resultType="cn.com.yusong.yhdg.common.domain.hdg.CabinetDayStats">
        select
         cabinet_id as cabinetId,
         agent_id as agentId,
        ifnull(SUM(refund_money),0) as refundInsuranceMoney,
        ifnull(count(id),0) as refundInsuranceCount
        from hdg_insurance_order
        where
        refund_time >= #{beginTime}
        and refund_time &lt;= #{endTime}
        and pay_time is not null
        and cabinet_id is not null
        group by cabinet_id, agent_id
    </select>

    <select id="findShopIncrement"  resultType="cn.com.yusong.yhdg.common.domain.hdg.ShopDayStats">
        select
        shop_id as shopId,
        ifnull(SUM(money),0) as agentInsuranceMoney,
        ifnull(count(id),0) as agentInsuranceCount
        from hdg_insurance_order
        WHERE
        pay_time &lt;= #{endTime}
        AND pay_time &gt;= #{beginTime}
        and cabinet_id is null and shop_id is not null
        group by shop_id
    </select>

    <select id="findShopRefund" resultType="cn.com.yusong.yhdg.common.domain.hdg.ShopDayStats">
        select
       shop_id as shopId,
        ifnull(SUM(refund_money),0) as agentRefundInsuranceMoney,
        ifnull(count(id),0) as agentRefundInsuranceCount
        from hdg_insurance_order
        where
        refund_time >= #{beginTime}
        and refund_time &lt;= #{endTime}
        and pay_time is not null
        and cabinet_id is null and shop_id is not null
        group by shop_id
    </select>

    <select id="findIncrement"  resultType="java.util.Map">
        select
        agent_id as agentId,
        ifnull(SUM(money),0) as incrementInsuranceMoney,
        ifnull(count(id),0) as incrementInsuranceCount
        from hdg_insurance_order
        WHERE
        pay_time &lt;= #{endTime}
        AND pay_time &gt;= #{beginTime}
        group by agent_id
    </select>

    <select id="findRefund" resultType="java.util.Map">
        select
        agent_id as agentId,
        ifnull(SUM(refund_money),0) as insuranceRefundMoney,
        ifnull(count(id),0) as insuranceRefundCount
        from hdg_insurance_order
        where
        refund_time >= #{beginTime}
        and refund_time &lt;= #{endTime}
        and pay_time is not null
        group by agent_id
    </select>

</mapper>