<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.weixinserver.persistence.basic.WeixinmpOpenIdMapper">

    <select id="findByOpenId" resultType="cn.com.yusong.yhdg.common.domain.basic.WeixinmpOpenId">
        select
        *
        from bas_weixinmp_open_id
        where weixinmp_id = #{weixinmpId} and open_id = #{openId}
    </select>

    <insert id="insert" parameterType="cn.com.yusong.yhdg.common.domain.basic.WeixinmpOpenId">
        insert bas_weixinmp_open_id(weixinmp_id, open_id, second_open_id, create_time)
        values(#{weixinmpId}, #{openId}, #{secondOpenId}, #{createTime})
    </insert>

</mapper>