<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.webserver.persistence.yms.MaterialGroupMapper">

    <select id="find" parameterType="long" resultType="cn.com.yusong.yhdg.common.domain.yms.MaterialGroup">
        select
            *
        from yms_material_group
        where id = #{id}
    </select>

    <select id="findByAgent" resultType="cn.com.yusong.yhdg.common.domain.yms.MaterialGroup">
        select
            *
        from yms_material_group
        <trim prefix="where" prefixOverrides="and">
            <if test="agentId != null and agentId != 0">
                and agent_id = #{agentId}
            </if>
        </trim>
    </select>

    <select id="findPageCount" parameterType="cn.com.yusong.yhdg.common.domain.yms.MaterialGroup" resultType="int">
        select
            count(id)
        from yms_material_group
        <trim prefix="where" prefixOverrides="and">
            <if test="agentId != null">
                and agent_id = #{agentId}
            </if>
            <if test="parentId != null">
                and parent_id = #{parentId}
            </if>
            <if test="groupName != null and groupName != ''">
                <![CDATA[and group_name LIKE concat('%', #{groupName}, '%')]]>
            </if>
        </trim>
    </select>

    <select id="findPageResult" parameterType="cn.com.yusong.yhdg.common.domain.yms.MaterialGroup" resultType="cn.com.yusong.yhdg.common.domain.yms.MaterialGroup">
        select
            id,
            group_name as groupName
        from yms_material_group
        <trim prefix="where" prefixOverrides="and">
            <if test="agentId != null">
                and agent_id = #{agentId}
            </if>
            <if test="parentId != null">
                and parent_id = #{parentId}
            </if>
            <if test="groupName != null and groupName != ''">
                <![CDATA[and group_name LIKE concat('%', #{groupName}, '%')]]>
            </if>
        </trim>
        limit #{beginIndex}, #{rows}
    </select>

    <select id="hasRecordByProperty" resultType="string">
        select group_name from (select group_name from yms_material_group where
        <if test="property == 'parentId'">
            parent_id = #{value}
        </if>
        limit 1) t
    </select>

    <select id="findAll" resultType="cn.com.yusong.yhdg.common.domain.yms.MaterialGroup">
        select * from yms_material_group
    </select>

    <insert id="insert" parameterType="cn.com.yusong.yhdg.common.domain.yms.MaterialGroup" useGeneratedKeys="true" keyProperty="id" >
        insert into yms_material_group(agent_id, group_name, parent_id)
        values(#{agentId}, #{groupName}, #{parentId})
    </insert>

    <update id="update" parameterType="cn.com.yusong.yhdg.common.domain.yms.MaterialGroup">
        update yms_material_group set
            group_name = #{groupName},
            parent_id = #{parentId}
        where id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        delete from yms_material_group where id = #{id}
    </delete>

</mapper>