<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.agentserver.persistence.hdg.BatterySequenceMapper">

    <insert id="insert" parameterType="cn.com.yusong.yhdg.common.domain.hdg.BatterySequence" useGeneratedKeys="true" keyProperty="id">
        insert into hdg_battery_sequence(id) values(null)
    </insert>
</mapper>