<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.agentserver.persistence.hdg.CabinetBatteryTypeMapper">

    <select id="findListByBatteryType" resultType="cn.com.yusong.yhdg.common.domain.hdg.CabinetBatteryType">
        select * from hdg_cabinet_battery_type
        where battery_type = #{batteryType}
        and cabinet_id in (select id from hdg_cabinet where agent_id =  #{agentId} )
    </select>

    <select id="findListByCabinet" resultType="cn.com.yusong.yhdg.common.domain.hdg.CabinetBatteryType">
        select
        *
        from hdg_cabinet_battery_type
        where cabinet_id= #{cabinetId}
    </select>

    <insert id="insert" parameterType="cn.com.yusong.yhdg.common.domain.hdg.CabinetBatteryType" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO hdg_cabinet_battery_type(
          cabinet_id,
          battery_type
        ) VALUES (
          #{cabinetId},
          #{batteryType}
        )
    </insert>

    <delete id="delete">
        delete from hdg_cabinet_battery_type
        where cabinet_id = #{cabinetId} and battery_type = #{batteryType}
    </delete>

</mapper>