<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusong.yhdg.agentserver.persistence.hdg.CabinetDynamicCodeCustomerMapper">

    <select id="find" resultType="cn.com.yusong.yhdg.common.domain.hdg.CabinetDynamicCodeCustomer">
        select * from hdg_cabinet_dynamic_code_customer
        <trim prefix="where" prefixOverrides="and">
            <if test="cabinetId != null and cabinetId !=''">
                and cabinet_id = #{cabinetId}
            </if>
            <if test="customerId !=null and customerId !=''">
                and customer_id = #{customerId}
            </if>
        </trim>
    </select>

    <delete id="deleteByCabinetId">
        delete from hdg_cabinet_dynamic_code_customer
                where cabinet_id = #{cabinetId}
    </delete>

</mapper>