<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.webserver.persistence.hdg.CabinetOperateLogMapper">

    <select id="find" parameterType="long" resultType="cn.com.yusong.yhdg.common.domain.hdg.CabinetOperateLog">
        select
        *
        from hdg_cabinet_operate_log
        where id = #{id}
    </select>

    <select id="findCountByCabinet" resultType="int">
        select
        count(*)
        from hdg_cabinet_operate_log
        where cabinet_id = #{cabinetId}
    </select>

    <select id="findPageCount" parameterType="cn.com.yusong.yhdg.common.domain.hdg.CabinetOperateLog" resultType="int">
        select
        count(id)
        from hdg_cabinet_operate_log
        <trim prefix="where" prefixOverrides="and">
            <if test="agentId != null">
                and agent_id = #{agentId}
            </if>
            <if test="cabinetName != null and cabinetName != ''">
                <![CDATA[and cabinet_name LIKE concat('%', #{cabinetName}, '%')]]>
            </if>
            <if test="operateType != null">
                and operate_type = #{operateType}
            </if>
            <if test="operatorType != null">
                and operator_type = #{operatorType}
            </if>
            <if test="boxNum != null and boxNum != '' ">
                and box_num = #{boxNum}
            </if>
        </trim>
    </select>

    <select id="findPageResult" parameterType="cn.com.yusong.yhdg.common.domain.hdg.CabinetOperateLog" resultType="cn.com.yusong.yhdg.common.domain.hdg.CabinetOperateLog">
        select
        *
        from hdg_cabinet_operate_log
        <trim prefix="where" prefixOverrides="and">
            <if test="agentId != null">
                and agent_id = #{agentId}
            </if>
            <if test="cabinetName != null and cabinetName != ''">
                <![CDATA[and cabinet_name LIKE concat('%', #{cabinetName}, '%')]]>
            </if>
            <if test="operateType != null">
                and operate_type = #{operateType}
            </if>
            <if test="operatorType != null">
                and operator_type = #{operatorType}
            </if>
            <if test="boxNum != null and boxNum != '' ">
                and box_num = #{boxNum}
            </if>
        </trim>
        order by id desc
        limit #{beginIndex}, #{rows}
    </select>
    
    <insert id="insert" parameterType="cn.com.yusong.yhdg.common.domain.hdg.CabinetOperateLog">
        INSERT INTO hdg_cabinet_operate_log (
            agent_id,
            cabinet_id,
            cabinet_name,
            box_num,
            operate_type,
            operator_type,
            operator,
            content,
            create_time
        ) VALUES (
            #{agentId},
            #{cabinetId},
            #{cabinetName},
            #{boxNum},
            #{operateType},
            #{operatorType},
            #{operator},
            #{content},
            #{createTime}
        )
    </insert>

    <delete id="delete">
        delete from hdg_cabinet_operate_log
        where cabinet_id = #{cabinetId}
    </delete>

</mapper>