<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusong.yhdg.webserver.persistence.hdg.CabinetChargerReportDateMapper">

    <select id="findList" resultType="cn.com.yusong.yhdg.common.domain.hdg.CabinetChargerReportDate">
        SELECT
            *,
            substring(report_date, 1, 4) AS yeah,
            substring(report_date, 6, 2) AS month,
            substring(report_date, 9, 2) AS day
        FROM
            hdg_cabinet_charger_report_date
        WHERE
            cabinet_id = #{cabinetId} and box_num = #{boxNum}
        order by report_date desc
    </select>

    <select id="findLast" resultType="cn.com.yusong.yhdg.common.domain.hdg.CabinetChargerReportDate">
        SELECT
          *
        FROM
        hdg_cabinet_charger_report_date
        WHERE
         cabinet_id = #{cabinetId} and box_num = #{boxNum}
        order by report_date desc
        limit 1
    </select>

    <select id="findYear" resultType="String">
        SELECT DISTINCT
            y.*
        FROM
            (
                SELECT
                    DATE_FORMAT(report_date, '%Y') AS yeah
                FROM
                    hdg_cabinet_charger_report_date
                WHERE
                    cabinet_id = #{cabinetId} and box_num = #{boxNum}
                ORDER BY
                    report_date DESC
	        ) AS y
    </select>

    <select id="findMonth" resultType="java.util.Map">
        select
            distinct DATE_FORMAT(report_date,'%Y') as yeah ,
            DATE_FORMAT(report_date,'%m') as month
        from
            hdg_cabinet_charger_report_date
        where
            cabinet_id = #{cabinetId} and box_num = #{boxNum}
    </select>
</mapper>