<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.webserver.persistence.hdg.ExchangeInstallmentCountMapper">

    <select id="find" parameterType="long" resultType="cn.com.yusong.yhdg.common.domain.hdg.ExchangeInstallmentCount">
        select
        *
        from hdg_exchange_installment_count
        where id = #{id}
    </select>

    <select id="findSettingId" parameterType="long" resultType="cn.com.yusong.yhdg.common.domain.hdg.ExchangeInstallmentCount">
        select
        *
        from hdg_exchange_installment_count
        where setting_id = #{settingId}
    </select>

    <select id="findPageCount" parameterType="cn.com.yusong.yhdg.common.domain.hdg.ExchangeInstallmentCount" resultType="int">
        select
        count(id)
        from hdg_exchange_installment_count
        where 1 = 1
        <if test="estateName != null and estateName != ''">
            <![CDATA[and estate_name LIKE concat('%', #{estateName}, '%')]]>
        </if>
        <if test="agentId != null">
            and agent_id = #{agentId}
        </if>
        <if test="id != null and id != ''">
            <![CDATA[and id LIKE concat(#{id}, '%')]]>
        </if>
    </select>

    <select id="findPageResult" parameterType="cn.com.yusong.yhdg.common.domain.hdg.ExchangeInstallmentCount" resultType="cn.com.yusong.yhdg.common.domain.hdg.ExchangeInstallmentCount">
        select
        *
        from hdg_exchange_installment_count
        where 1 = 1
        <if test="estateName != null and estateName != ''">
            <![CDATA[and estate_name LIKE concat('%', #{estateName}, '%')]]>
        </if>
        <if test="agentId != null">
            and agent_id = #{agentId}
        </if>
        <if test="id != null and id != ''">
            <![CDATA[and id LIKE concat(#{id}, '%')]]>
        </if>
        order by id desc
        limit ${beginIndex}, ${rows}
    </select>

    <insert id="insert" parameterType="cn.com.yusong.yhdg.common.domain.hdg.ExchangeInstallmentCount" useGeneratedKeys="true" keyProperty="id">
        insert into hdg_exchange_installment_count (
        setting_id,
        count,
        fee_type,
        fee_money,
        fee_percentage
        )
        values(
        #{settingId},
        #{count},
        #{feeType},
        #{feeMoney},
        #{feePercentage}
        )
    </insert>

    <update id="update" parameterType="cn.com.yusong.yhdg.common.domain.hdg.ExchangeInstallmentCount">
        update hdg_exchange_installment_count set
        <trim suffix="" suffixOverrides=",">
            <if test="count != null">
                count = #{count},
            </if>
            <if test="settingId != null and settingId != ''">
                setting_id = #{settingId},
            </if>
            <if test="feeType != null">
                fee_type = #{feeType},
            </if>
            <if test="feeMoney != null and feeMoney != ''">
                fee_money = #{feeMoney},
            </if>
            <if test="feePercentage != null and feePercentage != ''">
                fee_percentage = #{feePercentage},
            </if>
        </trim>
        where id = #{id}
    </update>




    <delete id="delete">
        delete from hdg_exchange_installment_count where id = #{id}
    </delete>


</mapper>