<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.webserver.persistence.hdg.ExchangeInstallmentCountDetailMapper">

    <select id="find" parameterType="long" resultType="cn.com.yusong.yhdg.common.domain.hdg.ExchangeInstallmentCountDetail">
        select
        *
        from hdg_exchange_installment_count_detail
        where id = #{id}
    </select>

    <select id="findCountId" parameterType="long" resultType="cn.com.yusong.yhdg.common.domain.hdg.ExchangeInstallmentCountDetail">
        select
        *
        from hdg_exchange_installment_count_detail
        where count_id = #{countId}
        ORDER  BY num ASC
    </select>

    <select id="findPageCount" parameterType="cn.com.yusong.yhdg.common.domain.hdg.ExchangeInstallmentCountDetail" resultType="int">
        select
        count(id)
        from hdg_exchange_installment_count_detail
        where 1 = 1
        <if test="estateName != null and estateName != ''">
            <![CDATA[and estate_name LIKE concat('%', #{estateName}, '%')]]>
        </if>
        <if test="agentId != null">
            and agent_id = #{agentId}
        </if>
        <if test="id != null and id != ''">
            <![CDATA[and id LIKE concat(#{id}, '%')]]>
        </if>
    </select>

    <select id="findPageResult" parameterType="cn.com.yusong.yhdg.common.domain.hdg.ExchangeInstallmentCountDetail" resultType="cn.com.yusong.yhdg.common.domain.hdg.ExchangeInstallmentCountDetail">
        select
        *
        from hdg_exchange_installment_count_detail
        where 1 = 1
        <if test="estateName != null and estateName != ''">
            <![CDATA[and estate_name LIKE concat('%', #{estateName}, '%')]]>
        </if>
        <if test="agentId != null">
            and agent_id = #{agentId}
        </if>
        <if test="id != null and id != ''">
            <![CDATA[and id LIKE concat(#{id}, '%')]]>
        </if>
        order by id desc
        limit ${beginIndex}, ${rows}
    </select>

    <insert id="insert" parameterType="cn.com.yusong.yhdg.common.domain.hdg.ExchangeInstallmentCountDetail" useGeneratedKeys="true" keyProperty="id">
        insert into hdg_exchange_installment_count_detail (
        count_id,
        num,
        fee_type,
        fee_money,
        fee_percentage,
        min_foregift_percentage,
        min_foregift_money,
        min_packet_period_money,
        min_packet_period_percentage
        )
        values(
        #{countId},
        #{num},
        #{feeType},
        #{feeMoney},
        #{feePercentage},
        #{minForegiftPercentage},
        #{minForegiftMoney},
        #{minPacketPeriodMoney},
        #{minPacketPeriodPercentage}
        )
    </insert>

    <update id="update" parameterType="cn.com.yusong.yhdg.common.domain.hdg.ExchangeInstallmentCountDetail">
        update hdg_exchange_installment_count_detail set
        <trim suffix="" suffixOverrides=",">
            <if test="countId != null">
                count_id = #{countId},
            </if>
            <if test="num != null and num != ''">
                num = #{num},
            </if>
            <if test="feeType != null">
                fee_type = #{feeType},
            </if>
            <if test="feeMoney != null and feeMoney != ''">
                fee_money = #{feeMoney},
            </if>
            <if test="feePercentage != null and feePercentage != ''">
                fee_percentage = #{feePercentage},
            </if>
            <if test="minForegiftPercentage != null and minForegiftPercentage != ''">
                min_foregift_percentage = #{minForegiftPercentage},
            </if>
            <if test="minForegiftMoney != null and minForegiftMoney != '' ">
                min_foregift_money = #{minForegiftMoney},
            </if>
            <if test="minPacketPeriodPercentage != null and minPacketPeriodPercentage != ''">
                min_packet_period_percentage  = #{minPacketPeriodPercentage},
            </if>
            <if test="minPacketPeriodMoney != null and minPacketPeriodMoney != ''">
                min_packet_period_money = #{minPacketPeriodMoney},
            </if>
        </trim>
        where id = #{id}
    </update>




    <delete id="delete">
        delete from hdg_exchange_installment_count_detail where id = #{id}
    </delete>


</mapper>