<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusong.yhdg.webserver.persistence.hdg.KeepTakeOrderMapper">
    <select id="find" parameterType="String" resultType="cn.com.yusong.yhdg.common.domain.hdg.KeepTakeOrder">
        select
        *
        from hdg_keep_take_order
        where id = #{id}
    </select>

    <select id="findCountByCabinet" resultType="int">
        select
        count(*)
        from hdg_keep_take_order
        where cabinet_id = #{cabinetId}
    </select>

    <select id="findPageCount" parameterType="cn.com.yusong.yhdg.common.domain.hdg.KeepTakeOrder" resultType="int">
        select
        count(*)
        from hdg_keep_take_order
        <trim prefix="where" prefixOverrides="and">
            <if test="agentId != null">
                and agent_id = #{agentId}
            </if>
            <if test="id != null and id != ''">
                <![CDATA[and id LIKE concat(#{id}, '%')]]>
            </if>
            <if test="cabinetId != null and cabinetId != ''">
                <![CDATA[and cabinet_id LIKE concat('%', #{cabinetId}, '%')]]>
            </if>
            <if test="cabinetName != null and cabinetName != ''">
                <![CDATA[and cabinet_name LIKE concat('%', #{cabinetName}, '%')]]>
            </if>
        </trim>
    </select>

    <select id="findPageResult" parameterType="cn.com.yusong.yhdg.common.domain.hdg.KeepTakeOrder" resultType="cn.com.yusong.yhdg.common.domain.hdg.KeepTakeOrder">
        select
        *
        from hdg_keep_take_order
        <trim prefix="where" prefixOverrides="and">
            <if test="agentId != null">
                and agent_id = #{agentId}
            </if>
            <if test="id != null and id != ''">
                <![CDATA[and id LIKE concat(#{id}, '%')]]>
            </if>
            <if test="cabinetId != null and cabinetId != ''">
                <![CDATA[and cabinet_id LIKE concat('%', #{cabinetId}, '%')]]>
            </if>
            <if test="cabinetName != null and cabinetName != ''">
                <![CDATA[and cabinet_name LIKE concat('%', #{cabinetName}, '%')]]>
            </if>
        </trim>
        order by hdg_keep_take_order.create_time desc
        limit ${beginIndex}, ${rows}
    </select>

</mapper>