<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.vehicleserver.persistence.basic.AgentMapper">

    <select id="find"  resultType="cn.com.yusong.yhdg.common.domain.basic.Agent">
        select
            *
        from bas_agent
        where id = #{id}
    </select>

    <update id="updateBalance">
        <choose>
            <when test="balance > 0">
                update bas_agent set balance = balance + #{balance} where id = #{id}
            </when>
            <otherwise>
                <![CDATA[update bas_agent set balance = balance + #{balance} where id = #{id} and balance + #{balance} >= 0]]>
            </otherwise>
        </choose>
    </update>
</mapper>