<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.webserver.persistence.basic.AgentDayBalanceRecordMapper">

    <select id="find" parameterType="long" resultType="cn.com.yusong.yhdg.common.domain.basic.AgentDayBalanceRecord">
        select
        *
        from bas_agent_day_balance_record
        where  id = #{id}
    </select>

    <select id="findBayagentlist"  resultType="cn.com.yusong.yhdg.common.domain.basic.AgentDayBalanceRecord">
        select
        *
        from bas_agent_day_balance_record
        where biz_type =#{bizType}
    </select>


    <select id="findPageCount" parameterType="cn.com.yusong.yhdg.common.domain.basic.AgentDayBalanceRecord" resultType="int">
        select count(*) from bas_agent_day_balance_record
        <trim prefix="where" prefixOverrides="and">
            <if test="orderId != null and orderId != ''">
                <![CDATA[and order_id = #{orderId} ]]>
            </if>
            <if test="agentId != null">
                <![CDATA[and agent_id = #{agentId} ]]>
            </if>
            <if test="bizType != null">
                <![CDATA[and biz_type = #{bizType}]]>
            </if>
            <if test="status != null">
                <![CDATA[and status = #{status}]]>
            </if>
        </trim>
    </select>

    <select id="findPageResult" parameterType="cn.com.yusong.yhdg.common.domain.basic.AgentDayBalanceRecord" resultType="cn.com.yusong.yhdg.common.domain.basic.AgentDayBalanceRecord">
        select
          *
        from bas_agent_day_balance_record
        <trim prefix="where" prefixOverrides="and">
            <if test="orderId != null and orderId != ''">
                <![CDATA[and order_id = #{orderId} ]]>
            </if>
            <if test="agentId != null">
                <![CDATA[and agent_id = #{agentId} ]]>
            </if>
            <if test="bizType != null">
                <![CDATA[and biz_type = #{bizType}]]>
            </if>
            <if test="status != null">
                <![CDATA[and status = #{status}]]>
            </if>
        </trim>
        ORDER by balance_date DESC
        limit ${beginIndex}, ${rows}
    </select>

    <update id="confirm">
        update bas_agent_day_balance_record
        set status = #{toStatus},
        confirm_time = #{confirmTime},
        confirm_user = #{confirmUser}
        where id = #{id} and status = #{fromStatus}
    </update>

    <update id = "updateInfo">
        update bas_agent_day_balance_record
        set
        order_id = #{orderId},
        status = #{status}
        where id = #{id}
    </update>

</mapper>