<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.webserver.persistence.basic.CancelLaxinCustomerMapper">

    <insert id="insert" parameterType="cn.com.yusong.yhdg.common.domain.basic.CancelLaxinCustomer">
        insert into bas_cancel_laxin_customer(
        agent_id,
        laxin_mobile,
        target_customer_id,
        target_mobile,
        target_fullname,
        cancel_canuse,
        create_time
        )
        values(
        #{agentId},
        #{laxinMobile},
        #{targetCustomerId},
        #{targetMobile},
        #{targetFullname},
        #{cancelCanuse},
        #{createTime})
    </insert>
</mapper>