<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.webserver.persistence.basic.CustomerMultiOrderDetailMapper">
    <select id="findPageCount" resultType="int">
        select count(*) from bas_customer_multi_order_detail
        WHERE order_id = #{orderId}
    </select>
    
    <select id="findPageResult" resultType="cn.com.yusong.yhdg.common.domain.basic.CustomerMultiOrderDetail">
        select
           *
        from bas_customer_multi_order_detail
        WHERE order_id = #{orderId}
        order by order_id desc
        limit ${beginIndex}, ${rows}
    </select>

    <select id="findBySource" resultType="cn.com.yusong.yhdg.common.domain.basic.CustomerMultiOrderDetail">
        select
        *
        from bas_customer_multi_order_detail
        WHERE source_id = #{sourceId} and source_type = #{sourceType}
    </select>
</mapper>