<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.webserver.persistence.basic.DeviceReportLogMapper">

    <select id="findPageCount" parameterType="cn.com.yusong.yhdg.common.domain.basic.DeviceReportLog" resultType="int">
        select
          count(*)
        from bas_device_report_log
        <trim prefix="where" prefixOverrides="and">
            <if test="deviceId != null ">
                and device_id = #{deviceId}
            </if>
        </trim>
    </select>

    <select id="findPageResult" resultType="cn.com.yusong.yhdg.common.domain.basic.DeviceReportLog">
        select
        *
        from bas_device_report_log
        <trim prefix="where" prefixOverrides="and">
            <if test="deviceId != null ">
                and device_id = #{deviceId}
            </if>
        </trim>
        limit ${beginIndex}, ${rows}
    </select>

</mapper>