<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.webserver.persistence.basic.IdCardAuthRecordMapper">
    <select id="findPageCount" parameterType="cn.com.yusong.yhdg.common.domain.basic.IdCardAuthRecord" resultType="int">
        select
        count(id)
        from bas_id_card_auth_record
        <trim prefix="where" prefixOverrides="and">
            <if test="agentId != null">
                and agent_id = #{agentId}
            </if>
            <if test="mobile != null and mobile != ''">
                <![CDATA[and mobile LIKE concat('%', #{mobile}, '%')]]>
            </if>
            <if test="fullname != null and fullname != ''">
                <![CDATA[and fullname LIKE concat('%', #{fullname}, '%')]]>
            </if>
            <if test="materialDayStatsId != null">
                and material_day_stats_id = #{materialDayStatsId}
            </if>
            <if test="statsDate != null and statsDate != ''">
                <![CDATA[and create_time LIKE concat('%', #{statsDate}, '%')]]>
            </if>
        </trim>
    </select>

    <select id="findPageResult" parameterType="cn.com.yusong.yhdg.common.domain.basic.IdCardAuthRecord" resultType="cn.com.yusong.yhdg.common.domain.basic.IdCardAuthRecord">
        select
        *
        from bas_id_card_auth_record
        <trim prefix="where" prefixOverrides="and">
            <if test="agentId != null">
                and agent_id = #{agentId}
            </if>
            <if test="mobile != null and mobile != ''">
                <![CDATA[and mobile LIKE concat('%', #{mobile}, '%')]]>
            </if>
            <if test="fullname != null and fullname != ''">
                <![CDATA[and fullname LIKE concat('%', #{fullname}, '%')]]>
            </if>
            <if test="materialDayStatsId != null">
                and material_day_stats_id = #{materialDayStatsId}
            </if>
            <if test="statsDate != null and statsDate != ''">
                <![CDATA[and create_time LIKE concat('%', #{statsDate}, '%')]]>
            </if>
        </trim>
        order by id desc
        limit ${beginIndex}, ${rows}
    </select>

    <update id="updateStatus">
        update bas_id_card_auth_record
        set pay_type = #{payType},
        pay_time = #{payTime},
        status = #{toStatus}
        where material_day_stats_id = #{materialDayStatsId} and status = #{fromStatus}
    </update>

</mapper>