<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.webserver.persistence.basic.ResignationMapper">

    <select id="find" parameterType="long" resultType="cn.com.yusong.yhdg.common.domain.basic.Resignation">
       SELECT
            r.*, c.agent_balance AS agentBalance
        FROM
            bas_resignation r
        LEFT JOIN bas_customer c ON c.id = r.customer_id
        WHERE
            r.id = #{id}
    </select>

    <select id="findPageCount" parameterType="cn.com.yusong.yhdg.common.domain.basic.Resignation" resultType="int">
        select
        count(*)
        from bas_resignation
        <trim prefix="where" prefixOverrides="and">
            <if test="customerMobile != null and customerMobile != ''">
                <![CDATA[and customer_mobile LIKE concat(#{customerMobile}, '%')]]>
            </if>
            <if test="cabinetId != null and cabinetId != ''">
                and cabinet_id = #{cabinetId}
            </if>
            <if test="agentId != null">
                and agent_id = #{agentId}
            </if>
        </trim>
    </select>

    <select id="findPageResult" parameterType="cn.com.yusong.yhdg.common.domain.basic.Resignation"
            resultType="cn.com.yusong.yhdg.common.domain.basic.Resignation">
        select
        *
        from bas_resignation
        <trim prefix="where" prefixOverrides="and">
            <if test="customerMobile != null and customerMobile != ''">
                <![CDATA[and customer_mobile LIKE concat(#{customerMobile}, '%')]]>
            </if>
            <if test="cabinetId != null and cabinetId != ''">
                and cabinet_id = #{cabinetId}
            </if>
            <if test="agentId != null">
                and agent_id = #{agentId}
            </if>
        </trim>
        order by create_time desc
        limit ${beginIndex}, ${rows}
    </select>

    <update id="update" parameterType="cn.com.yusong.yhdg.common.domain.basic.Resignation">
    update
        bas_resignation
    set
        state = #{state},
        operator = #{operator},
        handle_time = #{handleTime},
        reason = #{reason}
    where id = #{id}
</update>
</mapper>