<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusong.yhdg.webserver.persistence.basic.RotateImageMapper">

    <select id="find" parameterType="int" resultType="cn.com.yusong.yhdg.common.domain.basic.RotateImage">
        select
        id,
        image_path as imagePath,
        order_num as orderNum,
        url,
        is_show  as isShow,
        create_time as createTime,
        type as type,
        category as category,
        source_id as sourceId
        from bas_rotate_image
        where id = #{id}
    </select>

    <select id="findPageCount" parameterType="cn.com.yusong.yhdg.common.domain.basic.RotateImage" resultType="int">
        select count(*) from bas_rotate_image
        <trim prefix="where" prefixOverrides="and">
            <if test="isShow != null ">
                and is_show = #{isShow}
            </if>
            <if test="type != null ">
                and type = #{type}
            </if>
            <if test="sourceId != null ">
                and source_id = #{sourceId}
            </if>
        </trim>
    </select>

    <select id="findPageResult" parameterType="cn.com.yusong.yhdg.common.domain.basic.RotateImage" resultType="cn.com.yusong.yhdg.common.domain.basic.RotateImage">
        select
        id,
        image_path as imagePath,
        order_num as orderNum,
        url,
        is_show  as isShow,
        create_time as createTime,
        type as type,
        category as category,
        source_id as sourceId
        from bas_rotate_image
        <trim prefix="where" prefixOverrides="and">
            <if test="isShow != null ">
                and is_show = #{isShow}
            </if>
            <if test="type != null ">
                and type = #{type}
            </if>
            <if test="sourceId != null ">
                and source_id = #{sourceId}
            </if>
        </trim>
        ORDER BY order_num
        limit ${beginIndex}, ${rows}
    </select>

    <insert id="insert" parameterType="cn.com.yusong.yhdg.common.domain.basic.RotateImage" useGeneratedKeys="true" keyProperty="id">
        insert into bas_rotate_image (image_path, order_num, url, is_show, create_time, type, source_id, category)
        values (#{imagePath}, #{orderNum}, #{url}, #{isShow}, #{createTime}, #{type}, #{sourceId}, #{category})
    </insert>

    <update id="update" parameterType="cn.com.yusong.yhdg.common.domain.basic.RotateImage">
        update bas_rotate_image set
        image_path = #{imagePath},
        order_num = #{orderNum},
        url = #{url},
        <if test="type != null" >
            type = #{type},
        </if>
        <if test="category != null" >
            category = #{category},
        </if>
        <if test="sourceId != null" >
            source_id = #{sourceId},
        </if>
        is_show  = #{isShow}
        where id = #{id}
    </update>

    <update id="updateOrderNum">
        update bas_rotate_image set
        order_num = #{orderNum}
        where id = #{id}
    </update>

    <delete id="delete" parameterType="int">
        delete from bas_rotate_image where id = #{id}
    </delete>

    <select id="findAllSourceId" parameterType="cn.com.yusong.yhdg.common.domain.basic.RotateImage" resultType="cn.com.yusong.yhdg.common.domain.basic.RotateImage">
        select
        id,
        image_path as imagePath,
        order_num as orderNum,
        url,
        is_show  as isShow,
        create_time as createTime,
        type as type,
        category as category,
        source_id as sourceId
        from bas_rotate_image
        <trim prefix="where" prefixOverrides="and">
            <if test="isShow != null ">
                and is_show = #{isShow}
            </if>
            <if test="type != null ">
                and type = #{type}
            </if>
            <if test="category != null" >
                category = #{category},
            </if>
            <if test="sourceId != null ">
                and source_id = #{sourceId}
            </if>
        </trim>
        ORDER BY order_num
    </select>

    <delete id="deleteByAllSourceId"  parameterType = "java.util.List">
        delete from bas_rotate_image where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">#{item}</foreach>
    </delete>
</mapper>