<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.webserver.persistence.zd.RentInsuranceMapper">

    <select id="findListByBatteryType" resultType="cn.com.yusong.yhdg.common.domain.zd.RentInsurance">
        SELECT
            *
        FROM zd_rent_insurance
        WHERE battery_type = #{batteryType}
        AND agent_id = #{agentId}
    </select>

    <select id="find" resultType="cn.com.yusong.yhdg.common.domain.zd.RentInsurance">
        SELECT
            *
        FROM zd_rent_insurance
        WHERE id = #{id}
    </select>

    <select id="findPageCount" resultType="int" parameterType="cn.com.yusong.yhdg.common.domain.zd.RentInsurance">
        SELECT
            COUNT(*)
        FROM zd_rent_insurance
        <trim prefix="where" prefixOverrides="and">
            <if test="agentId != null">
                and agent_id = #{agentId}
            </if>
            <if test="insuranceName != null and insuranceName !='' ">
                and insurance_name = #{insuranceName}
            </if>
        </trim>
    </select>

    <select id="findPageResult" resultType="cn.com.yusong.yhdg.common.domain.zd.RentInsurance" parameterType="cn.com.yusong.yhdg.common.domain.zd.RentInsurance">
        SELECT
            *
        FROM zd_rent_insurance
        <trim prefix="where" prefixOverrides="and">
            <if test="agentId != null">
                AND agent_id = #{agentId}
            </if>
            <if test="insuranceName != null and insuranceName !='' ">
                AND insurance_name = #{insuranceName}
            </if>
        </trim>
    </select>

    <insert id="insert" parameterType="cn.com.yusong.yhdg.common.domain.zd.RentInsurance" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO zd_rent_insurance(
            agent_id,
            insurance_name,
            battery_type,
            price,
            paid,
            month_count,
            is_active,
            memo,
            create_time
        ) VALUES (
            #{agentId},
            #{insuranceName},
            #{batteryType},
            #{price},
            #{paid},
            #{monthCount},
            #{isActive},
            #{memo},
            #{createTime}
        )
    </insert>

    <update id="update" parameterType="cn.com.yusong.yhdg.common.domain.zd.RentInsurance">
        update zd_rent_insurance SET
            agent_id = #{agentId},
            insurance_name = #{insuranceName},
            battery_type = #{batteryType},
            price = #{price},
            paid = #{paid},
            month_count = #{monthCount},
            is_active = #{isActive},
            memo = #{memo}
        where id = #{id}
    </update>

    <delete id="delete">
        delete from zd_rent_insurance where id = #{id}
    </delete>

</mapper>

