<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.webserver.persistence.zd.RentPeriodOrderAllotMapper">

    <select id="findPageCount" resultType="int">
        select count(id) from zd_rent_period_order_allot_${suffix}
        where 1 = 1
        <if test="balanceDate != null and balanceDate != ''">
            and stats_date = #{balanceDate}
        </if>
        <if test="bizType != null and bizType == 1">
            and org_id = #{agentId}
        </if>
        <if test="bizType != null and bizType == 2">
            and shop_id = #{shopId}
        </if>
        <if test="bizType != null and bizType == 3">
            and org_id = #{partnerId}
        </if>
        <if test="serviceType != null">
            and service_type = #{serviceType}
        </if>
    </select>

    <select id="findPageResult" resultType="cn.com.yusong.yhdg.common.domain.zd.RentPeriodOrderAllot">
        select * from zd_rent_period_order_allot_${suffix}
        where 1 = 1
        <if test="balanceDate != null and balanceDate != ''">
            and stats_date = #{balanceDate}
        </if>
        <if test="bizType != null and bizType == 1">
            and org_id = #{agentId}
        </if>
        <if test="bizType != null and bizType == 2">
            and shop_id = #{shopId}
        </if>
        <if test="bizType != null and bizType == 3">
            and org_id = #{partnerId}
        </if>
        <if test="serviceType != null">
            and service_type = #{serviceType}
        </if>
        order by id desc
        limit ${beginIndex}, ${rows}
    </select>


</mapper>