<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.webserver.persistence.zd.VipRentPriceAgentCompanyMapper">

    <select id="findListByPriceId" parameterType="long" resultType="cn.com.yusong.yhdg.common.domain.zd.VipRentPriceAgentCompany">
        SELECT
        *
        FROM zd_vip_rent_price_agent_company
        where price_id = #{priceId}
    </select>

    <select id="findByPriceId"  resultType="cn.com.yusong.yhdg.common.domain.zd.VipRentPriceAgentCompany">
        SELECT
        *
        FROM zd_vip_rent_price_agent_company
        where price_id = #{priceId}
        and agent_company_id = #{agentCompanyId}
        limit 1
    </select>

    <insert id="insert" parameterType="cn.com.yusong.yhdg.common.domain.zd.VipRentPriceAgentCompany" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO zd_vip_rent_price_agent_company(
          agent_company_id,
          price_id
        ) VALUES (
          #{agentCompanyId},
          #{priceId}
        )
    </insert>

    <delete id="delete">
        delete from zd_vip_rent_price_agent_company where id = #{id}
    </delete>

    <delete id="deleteByPriceId">
        delete from zd_vip_rent_price_agent_company where price_id = #{priceId}
    </delete>

</mapper>