<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusong.yhdg.staticserver.persistence.hdg.BatteryChargeOrderMapper">
    <select id="find" resultType="cn.com.yusong.yhdg.common.domain.hdg.BatteryChargeOrder">
        SELECT
        *
        FROM
        hdg_battery_charge_order
        WHERE
        id=#{id}
    </select>


    <update id="payOk" >
        UPDATE
        hdg_battery_charge_order
        SET
        start_time = #{date},
        pay_time=#{date},
        status=#{toStatus}
        WHERE
        id = #{id}
        and
        status=#{fromStatus}
    </update>

    <update id="total">
        update hdg_battery_charge_order set
        price = (select sum(price) from hdg_battery_charge_order_detail where order_id = id and status = 2),
        duration = (select sum(duration) from hdg_battery_charge_order_detail where order_id = id and status = 2)
        where id = #{id}
    </update>
</mapper>