<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusong.yhdg.staticserver.persistence.hdg.ShopStoreBatteryMapper">

    <select id="findByBattery" resultType="cn.com.yusong.yhdg.common.domain.hdg.ShopStoreBattery">
        select *
        from hdg_shop_store_battery
        <trim prefix="where" prefixOverrides="and">
            <if test="batteryId != null and batteryId != ''">
                and battery_id  = #{batteryId}
            </if>
        </trim>
    </select>

    <delete id="clearBattery">
        delete from hdg_shop_store_battery where shop_id = #{shopId} and battery_id = #{batteryId}
    </delete>

</mapper>