<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusong.yhdg.frontserver.persistence.yms.TerminalCrashLogMapper">
    <insert id="insert" parameterType="cn.com.yusong.yhdg.common.domain.yms.TerminalCrashLog" useGeneratedKeys="true" keyProperty="id">
        insert into yms_terminal_crash_log(
            terminal_id,
            agent_id,
            report_time,
            file_path,
            create_time
        )
        values(
            #{terminalId},
            #{agentId},
            #{reportTime},
            #{filePath},
            #{createTime}
        )
    </insert>
</mapper>
