<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.yusong.yhdg.serviceserver.persistence.basic.AgentForegiftRefundMapper">

    <select id="findByAgent" resultType="java.util.Map">
        select
        agent_id as agentId,
        ifnull(SUM(remain_money),0) as remainMoney
        from bas_agent_foregift_refund
        where
        remain_money > 0
        and create_time >= #{beginTime}
        and create_time &lt;= #{endTime}
        group by agent_id
    </select>

</mapper>