<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.serviceserver.persistence.basic.AgentInOutMoneyMapper">

    <select id="findByAgent"  resultType="cn.com.yusong.yhdg.common.domain.basic.AgentInOutMoney">
        select
         agent_id as agentId,
         type,
         sum(money) as money
        from bas_agent_in_out_money
         where create_time &lt;= #{endTime}
        AND create_time &gt;= #{beginTime}
        group by agent_id,type
    </select>

</mapper>