<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusong.yhdg.serviceserver.persistence.basic.CustomerExchangeBatteryMapper">
    <select id="findByBattery" parameterType="String" resultType="cn.com.yusong.yhdg.common.domain.basic.CustomerExchangeBattery">
        select
        *
        from bas_customer_exchange_battery
        where  battery_id = #{batteryId}
        limit 1
    </select>

    <select id="findOneByCustomer" parameterType="long" resultType="cn.com.yusong.yhdg.common.domain.basic.CustomerExchangeBattery">
        select
         a.*,
         b.code as batteryCode
        from bas_customer_exchange_battery a left join hdg_battery b on a.battery_id = b.id
        where a.customer_id = #{customerId}
         limit 1
    </select>

    <insert id="insert" parameterType="cn.com.yusong.yhdg.common.domain.basic.CustomerExchangeBattery">
        insert into bas_customer_exchange_battery(customer_id, agent_id, battery_id, battery_type, battery_order_id, back_battery_order_id, create_time)
        values(#{customerId}, #{agentId}, #{batteryId}, #{batteryType}, #{batteryOrderId}, #{backBatteryOrderId}, #{createTime})
    </insert>


    <delete id="clearBattery">
        delete from bas_customer_exchange_battery where customer_id = #{customerId} and battery_id = #{batteryId}
    </delete>

</mapper>