<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.serviceserver.persistence.basic.CustomerCouponTicketGiftMapper">

    <select id="find" resultType="cn.com.yusong.yhdg.common.domain.basic.CustomerCouponTicketGift">
        select * from bas_customer_coupon_ticket_gift
        where agent_id = #{agentId}
        and type = #{type}
        and category = #{category}
        and is_active = 1
    </select>
    <select id="findById" resultType="cn.com.yusong.yhdg.common.domain.basic.CustomerCouponTicketGift">
        select * from bas_customer_coupon_ticket_gift
        where id = #{id}
    </select>

    <select id="findByType" resultType="cn.com.yusong.yhdg.common.domain.basic.CustomerCouponTicketGift">
        select
        *
        from bas_customer_coupon_ticket_gift
        where type = #{type} and is_active = 1
        limit #{offset}, #{limit}
    </select>

    <select id="findByTypeCategoryWagesDayAll" resultType="cn.com.yusong.yhdg.common.domain.basic.CustomerCouponTicketGift">
        select
        *
        from bas_customer_coupon_ticket_gift
        where
        type = #{type}
        and wages_day = #{wagesDay}
        and is_active = 1
        limit #{offset}, #{limit}
    </select>

</mapper>
