<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusong.yhdg.serviceserver.persistence.basic.DayBalanceRecordMapper">

    <select id="sumWaitTransferRecord" resultType="int">
        select agent_id from (
            select
                agent_id, sum(money)
            from bas_day_balance_record
            where status = #{status}
            group by agent_id
            having sum(money) >= 100
        ) as t
    </select>

    <select id="findByOrg" resultType="cn.com.yusong.yhdg.common.domain.basic.DayBalanceRecord">
        select
            *
        from bas_day_balance_record
        where agent_id = #{orgId} and status = #{status}
    </select>

    <select id="findByBalanceDate" resultType="cn.com.yusong.yhdg.common.domain.basic.DayBalanceRecord">
        select
            *
        from bas_day_balance_record
        where agent_id = #{orgId} and balance_date = #{balanceDate}
    </select>

    <insert id="insert" parameterType="cn.com.yusong.yhdg.common.domain.basic.DayBalanceRecord" useGeneratedKeys="true" keyProperty="id">
        insert into bas_day_balance_record (id, balance_date, biz_type, agent_id, agent_name, agent_mobile, agent_account_name,
        money, income_money, refund_money, memo, status, handle_time, confirm_time, confirm_user, create_time)
        values  (#{id}, #{balanceDate}, #{bizType}, #{agentId}, #{agentName}, #{agentMobile}, #{agentAccountName},
        #{money}, #{incomeMoney}, #{refundMoney}, #{memo}, #{status}, #{handleTime}, #{confirmTime}, #{confirmUser}, #{createTime})
    </insert>

    <update id="updateOrderId">
        update bas_day_balance_record set
        order_id = #{orderId}
        where order_id is null and id = #{id}
    </update>

    <update id="clearOrderId">
        update bas_day_balance_record set
            order_id = null
        where id = #{id}
    </update>

    <update id="updateHandleResult">
        update bas_day_balance_record set
            status = #{status},
            handle_time = #{handleTime}
        where order_id = #{orderId}
    </update>
</mapper>