<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.serviceserver.persistence.basic.FwPushMessageTemplateMapper">

    <select id="find" resultType="cn.com.yusong.yhdg.common.domain.basic.FwPushMessageTemplate">
        select
        *
        from bas_fw_push_message_template
        where alipayfw_id = #{alipayfwId} and id = #{id}
    </select>
</mapper>