<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.serviceserver.persistence.basic.LaxinRecordTransferLogMapper">

    <insert id="insert" parameterType="cn.com.yusong.yhdg.common.domain.basic.LaxinRecordTransferLog" useGeneratedKeys="true" keyProperty="id">
        insert into bas_laxin_record_transfer_log (record_id, operator_name, content, create_time)
        values (#{recordId}, #{operatorName}, #{content}, #{createTime})
    </insert>

</mapper>