<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.serviceserver.persistence.basic.LaxinPayOrderMapper">

    <select id="find" resultType="cn.com.yusong.yhdg.common.domain.basic.LaxinPayOrder">
        select
        *
        from bas_laxin_pay_order
        where id = #{id}
    </select>

    <select id="findByAgent" resultType="java.util.Map">
        select
        agent_id as agentId,
        ifnull(SUM(money),0) as money
        from bas_laxin_pay_order
        where
        money > 0
        and pay_time >= #{beginTime}
        and pay_time &lt;= #{endTime}
        group by agent_id
    </select>

</mapper>