<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.serviceserver.persistence.basic.OrderIdMapper">

    <select id="max" resultType="long">
        <choose>
            <when test="orderType == 1">
                select
                case when v is null then 0 else v end
                from (select max(id) as v from hdg_battery_order_num_${suffix}) as t
            </when>
            <when test="orderType == 2">
                select
                case when v is null then 0 else v end
                from (select max(id) as v from bas_customer_deposit_order_num_${suffix}) as t
            </when>
            <when test="orderType == 3">
                select
                case when v is null then 0 else v end
                from (select max(id) as v from bas_keep_order_num_${suffix}) as t
            </when>
            <when test="orderType == 4">
                select
                case when v is null then 0 else v end
                from (select max(id) as v from bas_weixin_pay_order_num_${suffix}) as t
            </when>
            <when test="orderType == 5">
                select
                case when v is null then 0 else v end
                from (select max(id) as v from bas_balance_transfer_order_num_${suffix}) as t
            </when>
            <when test="orderType == 6">
                select
                case when v is null then 0 else v end
                from (select max(id) as v from bas_alipay_pay_order_num_${suffix}) as t
            </when>
            <when test="orderType == 7">
                select
                case when v is null then 0 else v end
                from (select max(id) as v from bas_customer_foregift_order_num_${suffix}) as t
            </when>
            <when test="orderType == 8">
                select
                case when v is null then 0 else v end
                from (select max(id) as v from hdg_packet_period_order_num_${suffix}) as t
            </when>
            <when test="orderType == 9">
                select
                case when v is null then 0 else v end
                from (select max(id) as v from hdg_back_battery_order_num_${suffix}) as t
            </when>
            <when test="orderType == 10">
                select
                case when v is null then 0 else v end
                from (select max(id) as v from hdg_insurance_num_${suffix}) as t
            </when>
            <when test="orderType == 11">
                select
                case when v is null then 0 else v end
                from (select max(id) as v from bas_weixinmp_pay_order_num_${suffix}) as t
            </when>
            <when test="orderType == 12">
                select
                case when v is null then 0 else v end
                from (select max(id) as v from bas_alipayfw_pay_order_num_${suffix}) as t
            </when>
            <when test="orderType == 13">
                select
                case when v is null then 0 else v end
                from (select max(id) as v from hdg_vehicle_order_num_${suffix}) as t
            </when>
            <when test="orderType == 14">
                select
                case when v is null then 0 else v end
                from (select max(id) as v from bas_customer_refund_order_num_${suffix}) as t
            </when>
            <when test="orderType == 15">
                select
                case when v is null then 0 else v end
                from (select max(id) as v from bas_laxin_pay_order_num_${suffix}) as t
            </when>
            <when test="orderType == 16">
                select
                case when v is null then 0 else v end
                from (select max(id) as v from bas_laxin_record_num_${suffix}) as t
            </when>
            <when test="orderType == 17">
                select
                case when v is null then 0 else v end
                from (select max(id) as v from bas_withdraw_order_num_${suffix}) as t
            </when>
            <when test="orderType == 18">
                select
                case when v is null then 0 else v end
                from (select max(id) as v from bas_agent_deposit_order_num_${suffix}) as t
            </when>
            <when test="orderType == 19">
                select
                case when v is null then 0 else v end
                from (select max(id) as v from hdg_bespeak_order_num_${suffix}) as t
            </when>
            <when test="orderType == 20">
                select
                case when v is null then 0 else v end
                from (select max(id) as v from zd_rent_foregift_order_num_${suffix}) as t
            </when>
            <when test="orderType == 21">
                select
                case when v is null then 0 else v end
                from (select max(id) as v from zd_rent_period_order_num_${suffix}) as t
            </when>
            <when test="orderType == 22">
                select
                case when v is null then 0 else v end
                from (select max(id) as v from zd_rent_insurance_num_${suffix}) as t
            </when>
            <when test="orderType == 23">
                select
                case when v is null then 0 else v end
                from (select max(id) as v from zd_rent_order_num_${suffix}) as t
            </when>
            <when test="orderType == 25">
                select
                case when v is null then 0 else v end
                from (select max(id) as v from bas_agent_foregift_deposit_order_num_${suffix}) as t
            </when>
            <when test="orderType == 26">
                select
                case when v is null then 0 else v end
                from (select max(id) as v from bas_agent_foregift_withdraw_order_num_${suffix}) as t
            </when>
            <when test="orderType == 27">
                select
                case when v is null then 0 else v end
                from (select max(id) as v from zc_vehicle_period_order_num_${suffix}) as t
            </when>
            <when test="orderType == 28">
                select
                case when v is null then 0 else v end
                from (select max(id) as v from zc_vehicle_foregift_order_num_${suffix}) as t
            </when>
            <when test="orderType == 29">
                select
                case when v is null then 0 else v end
                from (select max(id) as v from zc_group_order_num_${suffix}) as t
            </when>
            <when test="orderType == 30">
                select
                case when v is null then 0 else v end
                from (select max(id) as v from zc_vehicle_order_num_${suffix}) as t
            </when>
            <when test="orderType == 31">
                select
                case when v is null then 0 else v end
                from (select max(id) as v from bas_weixinma_pay_order_num_${suffix}) as t
            </when>
        </choose>
    </select>

    <update id="drop">
        <choose>
            <when test="orderType == 1">drop table if exists hdg_battery_order_num_${suffix}</when>
            <when test="orderType == 2">drop table if exists bas_customer_deposit_order_num_${suffix}</when>
            <when test="orderType == 3">drop table if exists bas_keep_order_num_${suffix}</when>
            <when test="orderType == 4">drop table if exists bas_weixin_pay_order_num_${suffix}</when>
            <when test="orderType == 5">drop table if exists bas_balance_transfer_order_num_${suffix}</when>
            <when test="orderType == 6">drop table if exists bas_alipay_pay_order_num_${suffix}</when>
            <when test="orderType == 7">drop table if exists bas_customer_foregift_order_num_${suffix}</when>
            <when test="orderType == 8">drop table if exists hdg_packet_period_order_num_${suffix}</when>
            <when test="orderType == 9">drop table if exists hdg_back_battery_order_num_${suffix}</when>
            <when test="orderType == 10">drop table if exists hdg_insurance_num_${suffix}</when>
            <when test="orderType == 11">drop table if exists bas_weixinmp_pay_order_num_${suffix}</when>
            <when test="orderType == 12">drop table if exists bas_alipayfw_pay_order_num_${suffix}</when>
            <when test="orderType == 13">drop table if exists hdg_vehicle_order_num_${suffix}</when>
            <when test="orderType == 14">drop table if exists bas_customer_refund_order_num_${suffix}</when>
            <when test="orderType == 15">drop table if exists bas_laxin_pay_order_num_${suffix}</when>
            <when test="orderType == 16">drop table if exists bas_laxin_record_num_${suffix}</when>
            <when test="orderType == 17">drop table if exists bas_withdraw_order_num_${suffix}</when>
            <when test="orderType == 18">drop table if exists bas_agent_deposit_order_num_${suffix}</when>
            <when test="orderType == 19">drop table if exists hdg_bespeak_order_num_${suffix}</when>
            <when test="orderType == 20">drop table if exists zd_rent_foregift_order_num__${suffix}</when>
            <when test="orderType == 21">drop table if exists zd_rent_period_order_num_${suffix}</when>
            <when test="orderType == 22">drop table if exists zd_rent_insurance_num_${suffix}</when>
            <when test="orderType == 23">drop table if exists zd_rent_order_num_${suffix}</when>
            <when test="orderType == 25">drop table if exists bas_agent_foregift_deposit_order_num_${suffix}</when>
            <when test="orderType == 26">drop table if exists bas_agent_foregift_withdraw_order_num_${suffix}</when>
            <when test="orderType == 27">drop table if exists zc_vehicle_period_order_num_${suffix}</when>
            <when test="orderType == 28">drop table if exists zc_vehicle_foregift_order_num_${suffix}</when>
            <when test="orderType == 29">drop table if exists zc_group_order_num_${suffix}</when>
            <when test="orderType == 30">drop table if exists zc_vehicle_order_num_${suffix}</when>
            <when test="orderType == 31">drop table if exists bas_weixinma_pay_order_num_${suffix}</when>

        </choose>
    </update>

    <update id="create">
        <choose>
            <when test="orderType == 1">
                create table if not exists hdg_battery_order_num_${suffix}(
                id int unsigned not null auto_increment,
                primary key (id)
                ) engine=innodb default charset=utf8
            </when>
            <when test="orderType == 2">
                create table if not exists bas_customer_deposit_order_num_${suffix}(
                id int unsigned not null auto_increment,
                primary key (id)
                ) engine=innodb default charset=utf8
            </when>
            <when test="orderType == 3">
                create table if not exists bas_keep_order_num_${suffix}(
                id int unsigned not null auto_increment,
                primary key (id)
                ) engine=innodb default charset=utf8
            </when>
            <when test="orderType == 4">
                create table if not exists bas_weixin_pay_order_num_${suffix}(
                id int unsigned not null auto_increment,
                primary key (id)
                ) engine=innodb default charset=utf8
            </when>
            <when test="orderType == 5">
                create table if not exists bas_balance_transfer_order_num_${suffix}(
                id int unsigned not null auto_increment,
                primary key (id)
                ) engine=innodb default charset=utf8
            </when>
            <when test="orderType == 6">
                create table if not exists bas_alipay_pay_order_num_${suffix}(
                id int unsigned not null auto_increment,
                primary key (id)
                ) engine=innodb default charset=utf8
            </when>
            <when test="orderType == 7">
                create table if not exists bas_customer_foregift_order_num_${suffix}(
                id int unsigned not null auto_increment,
                primary key (id)
                ) engine=innodb default charset=utf8
            </when>
            <when test="orderType == 8">
                create table if not exists hdg_packet_period_order_num_${suffix}(
                id int unsigned not null auto_increment,
                primary key (id)
                ) engine=innodb default charset=utf8
            </when>
            <when test="orderType == 9">
                create table if not exists hdg_back_battery_order_num_${suffix}(
                id int unsigned not null auto_increment,
                primary key (id)
                ) engine=innodb default charset=utf8
            </when>
            <when test="orderType == 10">
                create table if not exists hdg_insurance_num_${suffix}(
                id int unsigned not null auto_increment,
                primary key (id)
                ) engine=innodb default charset=utf8
            </when>
            <when test="orderType == 11">
                create table if not exists bas_weixinmp_pay_order_num_${suffix}(
                id int unsigned not null auto_increment,
                primary key (id)
                ) engine=innodb default charset=utf8
            </when>
            <when test="orderType == 12">
                create table if not exists bas_alipayfw_pay_order_num_${suffix}(
                id int unsigned not null auto_increment,
                primary key (id)
                ) engine=innodb default charset=utf8
            </when>
            <when test="orderType == 13">
                create table if not exists hdg_vehicle_order_num_${suffix}(
                id int unsigned not null auto_increment,
                primary key (id)
                ) engine=innodb default charset=utf8
            </when>
            <when test="orderType == 14">
                create table if not exists bas_customer_refund_order_num_${suffix}(
                id int unsigned not null auto_increment,
                primary key (id)
                ) engine=innodb default charset=utf8
            </when>
            <when test="orderType == 15">
                create table if not exists bas_laxin_pay_order_num_${suffix}(
                id int unsigned not null auto_increment,
                primary key (id)
                ) engine=innodb default charset=utf8
            </when>
            <when test="orderType == 16">
                create table if not exists bas_laxin_record_num_${suffix}(
                id int unsigned not null auto_increment,
                primary key (id)
                ) engine=innodb default charset=utf8
            </when>
            <when test="orderType == 17">
                create table if not exists bas_withdraw_order_num_${suffix}(
                id int unsigned not null auto_increment,
                primary key (id)
                ) engine=innodb default charset=utf8
            </when>
            <when test="orderType == 18">
                create table if not exists bas_agent_deposit_order_num_${suffix}(
                id int unsigned not null auto_increment,
                primary key (id)
                ) engine=innodb default charset=utf8
            </when>
            <when test="orderType == 19">
                create table if not exists hdg_bespeak_order_num_${suffix}(
                id int unsigned not null auto_increment,
                primary key (id)
                ) engine=innodb default charset=utf8
            </when>
            <when test="orderType == 20">
                create table if not exists zd_rent_foregift_order_num_${suffix}(
                id int unsigned not null auto_increment,
                primary key (id)
                ) engine=innodb default charset=utf8
            </when>
            <when test="orderType == 21">
                create table if not exists zd_rent_period_order_num_${suffix}(
                id int unsigned not null auto_increment,
                primary key (id)
                ) engine=innodb default charset=utf8
            </when>
            <when test="orderType == 22">
                create table if not exists zd_rent_insurance_num_${suffix}(
                id int unsigned not null auto_increment,
                primary key (id)
                ) engine=innodb default charset=utf8
            </when>
            <when test="orderType == 23">
                create table if not exists zd_rent_order_num_${suffix}(
                id int unsigned not null auto_increment,
                primary key (id)
                ) engine=innodb default charset=utf8
            </when>
            <when test="orderType == 25">
                create table if not exists bas_agent_foregift_deposit_order_num_${suffix}(
                id int unsigned not null auto_increment,
                primary key (id)
                ) engine=innodb default charset=utf8
            </when>
            <when test="orderType == 26">
                create table if not exists bas_agent_foregift_withdraw_order_num_${suffix}(
                id int unsigned not null auto_increment,
                primary key (id)
                ) engine=innodb default charset=utf8
            </when>
            <when test="orderType == 27">
                create table if not exists zc_vehicle_period_order_num_${suffix}(
                id int unsigned not null auto_increment,
                primary key (id)
                ) engine=innodb default charset=utf8
            </when>
            <when test="orderType == 28">
                create table if not exists zc_vehicle_foregift_order_num_${suffix}(
                id int unsigned not null auto_increment,
                primary key (id)
                ) engine=innodb default charset=utf8
            </when>
            <when test="orderType == 29">
                create table if not exists zc_group_order_num_${suffix}(
                id int unsigned not null auto_increment,
                primary key (id)
                ) engine=innodb default charset=utf8
            </when>
            <when test="orderType == 30">
                create table if not exists zc_vehicle_order_num_${suffix}(
                id int unsigned not null auto_increment,
                primary key (id)
                ) engine=innodb default charset=utf8
            </when>
            <when test="orderType == 31">
                create table if not exists bas_weixinma_pay_order_num_${suffix}(
                id int unsigned not null auto_increment,
                primary key (id)
                ) engine=innodb default charset=utf8
            </when>
        </choose>
    </update>

    <delete id="delete">
        <choose>
            <when test="orderType == 1">
                <![CDATA[delete from hdg_battery_order_num_${suffix} where id < #{max}]]></when>
            <when test="orderType == 2">
                <![CDATA[delete from bas_customer_deposit_order_num_${suffix} where id < #{max}]]></when>
            <when test="orderType == 3"><![CDATA[delete from bas_keep_order_num_${suffix} where id < #{max}]]></when>
            <when test="orderType == 4">
                <![CDATA[delete from bas_weixin_pay_order_num_${suffix}	where id < #{max}]]></when>
            <when test="orderType == 5">
                <![CDATA[delete from bas_balance_transfer_order_num_${suffix} where id < #{max}]]></when>
            <when test="orderType == 6">
                <![CDATA[delete from bas_alipay_pay_order_num_${suffix} where id < #{max}]]></when>
            <when test="orderType == 7">
                <![CDATA[delete from bas_customer_foregift_order_num_${suffix} where id < #{max}]]></when>
            <when test="orderType == 8">
                <![CDATA[delete from hdg_packet_period_order_num_${suffix} where id < #{max}]]></when>
            <when test="orderType == 9">
                <![CDATA[delete from hdg_back_battery_order_num_${suffix} where id < #{max}]]></when>
            <when test="orderType == 10">
                <![CDATA[delete from hdg_insurance_num_${suffix}	where id < #{max}]]></when>
            <when test="orderType == 11">
                <![CDATA[delete from bas_weixinmp_pay_order_num_${suffix}	where id < #{max}]]></when>
            <when test="orderType == 12">
                <![CDATA[delete from bas_alipayfw_pay_order_num_${suffix}	where id < #{max}]]></when>
            <when test="orderType == 13">
                <![CDATA[delete from hdg_vehicle_order_num_${suffix}	where id < #{max}]]></when>
            <when test="orderType == 14">
                <![CDATA[delete from bas_customer_refund_order_num_${suffix}	where id < #{max}]]></when>
            <when test="orderType == 15">
                <![CDATA[delete from bas_laxin_pay_order_num_${suffix}	where id < #{max}]]></when>
            <when test="orderType == 16">
                <![CDATA[delete from bas_laxin_record_num_${suffix}	where id < #{max}]]></when>
            <when test="orderType == 17">
                <![CDATA[delete from bas_withdraw_order_num_${suffix}	where id < #{max}]]></when>
            <when test="orderType == 18">
                <![CDATA[delete from bas_agent_deposit_order_num_${suffix}	where id < #{max}]]></when>
            <when test="orderType == 19">
                <![CDATA[delete from hdg_bespeak_order_num_${suffix}	where id < #{max}]]></when>
            <when test="orderType == 20">
                <![CDATA[delete from zd_rent_foregift_order_num_${suffix}	where id < #{max}]]></when>
            <when test="orderType == 21">
                <![CDATA[delete from zd_rent_period_order_num_${suffix}	where id < #{max}]]></when>
            <when test="orderType == 22">
                <![CDATA[delete from zd_rent_insurance_num_${suffix}	where id < #{max}]]></when>
            <when test="orderType == 23">
                <![CDATA[delete from zd_rent_order_num_${suffix}	where id < #{max}]]></when>
            <when test="orderType == 25">
                <![CDATA[delete from bas_agent_foregift_deposit_order_num_${suffix}  	where id < #{max}]]></when>
            <when test="orderType == 26">
                <![CDATA[delete from bas_agent_foregift_withdraw_order_num_${suffix}	where id < #{max}]]></when>
            <when test="orderType == 27">
                <![CDATA[delete from zc_vehicle_period_order_num_${suffix}	where id < #{max}]]></when>
            <when test="orderType == 28">
                <![CDATA[delete from zc_vehicle_foregift_order_num_${suffix}	where id < #{max}]]></when>
            <when test="orderType == 29">
                <![CDATA[delete from zc_group_order_num_${suffix}	where id < #{max}]]></when>
            <when test="orderType == 30">
                <![CDATA[delete from zc_vehicle_order_num_${suffix}	where id < #{max}]]></when>
            <when test="orderType == 31">
                <![CDATA[delete from bas_weixinma_pay_order_num_${suffix}	where id < #{max}]]></when>
        </choose>
    </delete>

    <insert id="insert" parameterType="cn.com.yusong.yhdg.common.domain.basic.OrderId" useGeneratedKeys="true"
            keyProperty="id">
        <choose>
            <when test="orderType == 1">
                insert into hdg_battery_order_num_${suffix}(id) values(#{id})
            </when>
            <when test="orderType == 2">
                insert into bas_customer_deposit_order_num_${suffix}(id) values(#{id})
            </when>
            <when test="orderType == 3">
                insert into bas_keep_order_num_${suffix}(id) values(#{id})
            </when>
            <when test="orderType == 4">
                insert into bas_weixin_pay_order_num_${suffix}(id) values(#{id})
            </when>
            <when test="orderType == 5">
                insert into bas_balance_transfer_order_num_${suffix}(id) values(#{id})
            </when>
            <when test="orderType == 6">
                insert into bas_alipay_pay_order_num_${suffix}(id) values(#{id})
            </when>
            <when test="orderType == 7">
                insert into bas_customer_foregift_order_num_${suffix}(id) values(#{id})
            </when>
            <when test="orderType == 8">
                insert into hdg_packet_period_order_num_${suffix}(id) values(#{id})
            </when>
            <when test="orderType == 9">
                insert into hdg_back_battery_order_num_${suffix}(id) values(#{id})
            </when>
            <when test="orderType == 10">
                insert into hdg_insurance_num_${suffix}(id) values(#{id})
            </when>
            <when test="orderType == 11">
                insert into bas_weixinmp_pay_order_num_${suffix}(id) values(#{id})
            </when>
            <when test="orderType == 12">
                insert into bas_alipayfw_pay_order_num_${suffix}(id) values(#{id})
            </when>
            <when test="orderType == 13">
                insert into hdg_vehicle_order_num_${suffix}(id) values(#{id})
            </when>
            <when test="orderType == 14">
                insert into bas_customer_refund_order_num_${suffix}(id) values(#{id})
            </when>
            <when test="orderType == 15">
                insert into bas_laxin_pay_order_num_${suffix}(id) values(#{id})
            </when>
            <when test="orderType == 16">
                insert into bas_laxin_record_num_${suffix}(id) values(#{id})
            </when>
            <when test="orderType == 17">
                insert into bas_withdraw_order_num_${suffix}(id) values(#{id})
            </when>
            <when test="orderType == 18">
                insert into bas_agent_deposit_order_num_${suffix}(id) values(#{id})
            </when>
            <when test="orderType == 19">
                insert into hdg_bespeak_order_num_${suffix}(id) values(#{id})
            </when>
            <when test="orderType == 20">
                insert into zd_rent_foregift_order_num_${suffix}(id) values(#{id})
            </when>
            <when test="orderType == 21">
                insert into zd_rent_period_order_num_${suffix}(id) values(#{id})
            </when>
            <when test="orderType == 22">
                insert into zd_rent_insurance_num_${suffix}(id) values(#{id})
            </when>
            <when test="orderType == 23">
                insert into zd_rent_order_num_${suffix}(id) values(#{id})
            </when>
            <when test="orderType == 25">
                insert into bas_agent_foregift_deposit_order_num_${suffix}(id) values(#{id})
            </when>
            <when test="orderType == 26">
                insert into bas_agent_foregift_withdraw_order_num_${suffix}(id) values(#{id})
            </when>
            <when test="orderType == 27">
                insert into zc_vehicle_period_order_num_${suffix}(id) values(#{id})
            </when>
            <when test="orderType == 28">
                insert into zc_vehicle_foregift_order_num_${suffix}(id) values(#{id})
            </when>
            <when test="orderType == 29">
                insert into zc_group_order_num_${suffix}(id) values(#{id})
            </when>
            <when test="orderType == 30">
                insert into zc_vehicle_order_num_${suffix}(id) values(#{id})
            </when>
            <when test="orderType == 31">
                insert into bas_weixinma_pay_order_num_${suffix}(id) values(#{id})
            </when>

            <otherwise>
                error
            </otherwise>
        </choose>
    </insert>
</mapper>