<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.serviceserver.persistence.basic.PlatformAccountInOutMoneyMapper">

    <insert id="insert" parameterType="cn.com.yusong.yhdg.common.domain.basic.PlatformAccountInOutMoney">
        insert into bas_platform_account_in_out_money(platform_account_id, biz_type, biz_id, type, money, balance, operator, create_time)
        values(#{platformAccountId}, #{bizType}, #{bizId}, #{type}, #{money}, #{balance}, #{operator}, #{createTime})
    </insert>
</mapper>