<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusong.yhdg.serviceserver.persistence.basic.UserMapper">

    <select id="findAll" parameterType="Long" resultType="cn.com.yusong.yhdg.common.domain.basic.User">
        select
        *
        from bas_user
        where push_token is not null
        and push_type is not null

    </select>
    <select id="find" parameterType="Long" resultType="cn.com.yusong.yhdg.common.domain.basic.User">
        select
        *
        from bas_user
        where id = #{id}
    </select>

    <select id="findByAgent" resultType="cn.com.yusong.yhdg.common.domain.basic.User">
        select bu.* from bas_user AS bu LEFT JOIN bas_user_mp_push_message_template as push
        ON bu.id = push.user_id
        where bu.agent_id = #{agentId} and bu.account_type = #{accountType} and bu.is_active = 1
        and bu.mobile is not null and bu.is_push = 1 AND push.id = #{id} and push.weixinmp_id = #{weixinmpId}
    </select>


</mapper>