<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.serviceserver.persistence.basic.WeixinmpPayOrderMapper">
    <select id="findPartnerIncrement" resultType="cn.com.yusong.yhdg.common.domain.basic.WeixinmpPayOrder">
      select
            partner_id as partnerId,
            sum(money) as money
       from bas_weixinmp_pay_order
      WHERE handle_time &lt;= #{endTime}
        AND handle_time &gt;= #{beginTime}
        group by partner_id
    </select>
</mapper>