<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.cabinetserver.persistence.hdg.BatteryChargeRecordMapper">
    <select id="find" parameterType="long" resultType="cn.com.yusong.yhdg.common.domain.hdg.BatteryChargeRecord">
        select
        *
        from hdg_battery_charge_record
        where id = #{id}
    </select>

    <update id="updateCurrentVolume">
        UPDATE hdg_battery_charge_record SET
        current_volume = #{currentVolume}, report_time = #{reportTime} WHERE id=#{id}
    </update>

    <update id="updateEnd">
        update hdg_battery_charge_record set
        end_time = #{endTime},
        current_volume = #{currentVolume}
        where id = #{id}
    </update>

    <insert id="insert" parameterType="cn.com.yusong.yhdg.common.domain.hdg.BatteryChargeRecord" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO hdg_battery_charge_record (id,agent_id, battery_id, type, begin_time, end_time, begin_volume, current_volume, cabinet_id, cabinet_name, box_num, duration, create_time)
        VALUES (#{id}, #{agentId}, #{batteryId}, #{type}, #{beginTime}, #{endTime}, #{beginVolume}, #{currentVolume}, #{cabinetId}, #{cabinetName}, #{boxNum}, #{duration}, #{createTime})
    </insert>

</mapper>