<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusong.yhdg.cabinetserver.persistence.hdg.CabinetReportDateMapper">

    <update id="update">
        update hdg_cabinet_report_date
          set record_count=record_count+1
        where cabinet_id=#{cabinetId}
          and report_date=#{reportDate}
    </update>

    <insert id="create">
        INSERT INTO `hdg_cabinet_report_date`
          (`cabinet_id`, `report_date`, `record_count`)
        VALUES
          (#{cabinetId}, #{reportDate}, 1)
    </insert>
</mapper>