<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.serviceserver.persistence.zc.VehiclePeriodOrderMapper">

    <select id="findListByStatus" resultType="cn.com.yusong.yhdg.common.domain.zc.VehiclePeriodOrder">
        SELECT
        *
        FROM
        zc_vehicle_period_order
        WHERE
        status = #{status}
        order by id
        limit #{offset}, #{limit}
    </select>

    <select id="findUsedByCustomer" resultType="cn.com.yusong.yhdg.common.domain.zc.VehiclePeriodOrder">
        SELECT
        *
        FROM
        zc_vehicle_period_order
        WHERE
        status = #{status}
        and customer_id = #{customerId}
        limit 1
    </select>

    <update id="updateUsedOrder">
        update zc_vehicle_period_order set
        status = #{toStatus},
        begin_time = #{beginTime},
        end_time = #{endTime}
        where status = #{fromStatus}
        and id = #{id}
    </update>

    <update id="updateExpiredOrder">
        update zc_vehicle_period_order set
            status = #{toStatus},
            expire_time = #{expireTime}
        where status = #{fromStatus}
        and end_time &lt; #{expireTime}
        limit ${limit}
    </update>
    
</mapper>