<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yusong.yhdg.agentserver.persistence.zd.RentPeriodPriceMapper">

    <select id="findListByForegift" resultType="cn.com.yusong.yhdg.common.domain.zd.RentPeriodPrice">
        SELECT
            *
        FROM zd_rent_period_price
        WHERE foregift_id = #{foregiftId}
        AND battery_type = #{batteryType}
        AND agent_id = #{agentId}
    </select>

    <select id="find" resultType="cn.com.yusong.yhdg.common.domain.zd.RentPeriodPrice">
        SELECT
            *
        FROM zd_rent_period_price
        WHERE id = #{id}
    </select>

    <select id="findListByBatteryType"  resultType="cn.com.yusong.yhdg.common.domain.zd.RentPeriodPrice">
        SELECT
            *
        FROM zd_rent_period_price
        WHERE battery_type = #{batteryType}
        AND agent_id = #{agentId}
    </select>

    <select id="findListByForegiftId"  resultType="cn.com.yusong.yhdg.common.domain.zd.RentPeriodPrice">
        SELECT
        *
        FROM zd_rent_period_price
        WHERE foregift_id = #{foregiftId} and battery_type = #{batteryType} and agent_id = #{agentId}
    </select>

    <insert id="insert" parameterType="cn.com.yusong.yhdg.common.domain.zd.RentPeriodPrice" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO zd_rent_period_price(
            agent_id,
            agent_name,
            agent_code,
            foregift_id,
            battery_type,
            day_count,
            price,
            memo,
            create_time
        ) VALUES (
            #{agentId},
            #{agentName},
            #{agentCode},
            #{foregiftId},
            #{batteryType},
            #{dayCount},
            #{price},
            #{memo},
            #{createTime}
        )
    </insert>

    <update id="update" parameterType="cn.com.yusong.yhdg.common.domain.zd.RentPeriodPrice">
        update zd_rent_period_price SET
            agent_name = #{agentName},
            agent_code = #{agentCode},
            day_count = #{dayCount},
            price = #{price},
            memo = #{memo}
        where id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM zd_rent_period_price WHERE id = #{id}
    </delete>

    <delete id="deleteByForegift" parameterType="int">
        DELETE FROM zd_rent_period_price WHERE foregift_id = #{foregiftId}
    </delete>

</mapper>